[2017-07-18 17:06] sabrinang opened #1 "Master Spreadsheet of Design Assets + Timeline"
Here is overview of design assets on google spreadsheets: https://docs.google.com/a/mozilla.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit?usp=sharing

This doc will be referred to as we file tickets to help with overall timelines. When all tickets are filed in github we can consider visualizing it as a gantt chart that reflects the issues themselves (with [mozilla advocacy g

[2017-07-18 17:31] sabrinang opened #2 "Sponsorship Ideas"
For 2017, one of the Program Key Results is to raise $250k in Mozilla event sponsorships as part of OKR 4 (_Grow MozFest as focal point of internet health movement_).

We can brainstorm opportunities for sponsors and how this may appear or influence our design assets.

Brainstorm doc in gdocs here: https://docs.google.com/document/d/1Ud_ly4B-CoJ-wPYJgQ96Twqpo3ZIBtpBWN0FY1YiV1k/edit?usp=sharing

__

[2017-07-18 17:55] sabrinang opened #3 "Swag Ideas"
Let's brainstorm what we want to give as swag. We can consider physical swag (_favouring more minimal or sustainable options_) and should consider digital swag (_reducing environmental impact and efficient way to add value for attendees_). Also, consider how much effort it may require for our volunteer to assemble or organize it together and reduce this dependency when possible.

Note: @edrushka m

[2017-07-18 19:14] sabrinang opened #4 "Visual Directions Moodboards"
### Description
Create and brainstorm mood boards to inform 1-3 visual directions for Mozilla Festival 2017. Consider how the new Mozilla brand and Internet Health themes can inform the festival's brand and direction.

### Reference from Previous Years
2016 Google Slides: https://goo.gl/6F895N
Github Ticket: https://github.com/MozillaFoundation/Mozfest2016_production/issues/14

___________________

[2017-07-18 20:58] sabrinang opened #5 "Mozilla Festival Lockup (Wordmark and Logo)"
### Description
In February, we did an interim update of the wordmark seen on the navigation and promo video:
<img width="1440" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/25876683/bc4183d8-34d3-11e7-8298-59f2c819dc0f.png">
![mozilla-festival-recap-video](https://cloud.githubusercontent.com/assets/2492510/25876674/acd9f45c-34d3-11e7-91d3-4c0e59788715.gif)

Since then the [b

[2017-07-18 21:09] sabrinang opened #6 "Space Icons (or Visuals)"
### Description:
This year we may (or may not) need five new visuals to represent each space and to reflect the new visual direction. The spaces this year are the issue areas of the internet health report which include:
- Open innovation
- Digital inclusion
- Decentralization
- Privacy and security
- Web literacy

More information on these spaces can be found on https://internethealthreport.org/v0

[2017-07-18 21:31] sabrinang opened #7 "Style Guide"
### Description:
Create a style guide for MozFest's visual direction for 2017. Last year's guide and the new Mozilla branding will help inform this.

### Dependencies:
- [x] #4 Visual Direction Moodboard
- [x] #5 Mozilla Festival Lockup
- [x] #6 Space Icons
- [x] #48 Tagline Lockup
- [x] #49 Colours
- [x] #46 Art Texture and Patterns

### Reference from Last Year:
Google Drive Files: https://drive

[2017-07-19 23:01] sabrinang commented on #5
I'll be iterating on lockup explorations in this gslide deck here: https://docs.google.com/a/mozilla.com/presentation/d/10vX8mCNDzZlhr2j7EkbRmtGqGiReI6OtW_wuyBbI6hw/edit?usp=sharing
<img width="894" alt="image" src="https://user-images.githubusercontent.com/2492510/28393400-67e07308-6c9b-11e7-9685-0ae1d6146572.png">

[2017-07-19 23:14] sabrinang commented on #6
I'll be collecting existing visual expressions of the issue areas and iterating on them on the gslide deck here: https://docs.google.com/a/mozilla.com/presentation/d/1dKPau120QJp7A6hGdpR3ZAEm3ZpOAKwPYlmlPA_CsEc/edit?usp=sharing

[2017-07-19 23:52] sabrinang opened #8 "Master Social Media Graphics List"
### Description
Coordinate with MozFest 2017 social/comms calendar and create social media graphics that accompany written posts on twitter, facebook, instagram etc. to be shared before, during and after MozFest.

Refer to this year's social calendar and start planning 1-2 graphic for each phase/theme. Some examples are:
- [x] Call for Proposals https://github.com/mozilla/mozillafestival.org/issue

[2017-07-20 00:00] sabrinang opened #9 "Email Callout Graphic"
### Description
Coordinate with email senders and social calendar and make email graphics for call to actions.

### Dependencies
- MozFest Social Calendar

### Reference from Previous Years
https://github.com/MozillaFoundation/Mozfest2016_production/issues/85

__________________________
#### Deadline
GanttStart: 2017-08-23
GanttDue: 2017-08-25

[2017-07-20 00:02] sabrinang opened #10 "Snippet Graphic"
### Description
Let's consider promoting MozFest on the Firefox snippet and create a graphic to go along what we want to say.

### Dependencies
- Copy and CTA

__________________________
#### Deadline
GanttStart: 2017-08-18
GanttDue: 2017-08-22

[2017-07-20 23:04] sabrinang commented on #3
I reached out to Jonathan and he has done a lot of research already on physical swag: https://docs.google.com/a/mozilla.com/spreadsheets/d/1Xvnx2v3BuNgnL45MgEjz03scw5-IksNG1Js5CJi2yeg/edit?usp=sharing

I'm also curious to know what our MozFest audience enjoys receiving so we can prevent producing waste or things people don't want to take. I wonder if we can do some sort of poll/survey to also help

[2017-07-20 23:16] sabrinang commented on #5
I reached out to Yuliya and creative team for some feedback and we flagged some challenges with the identity lockups. Yuliya and Patrick are working to potentially see if there is a better solution so I’ll stay tuned.

Some additional lockup options to try:
- a suggestion was to maybe remove the logo from the box and keep the Mozilla logo as is and remove 'festival' from its box which may give som

[2017-07-20 23:30] marcwalsh commented on #3
Thanks @sabrinang!

(Just FYI - I'm still using @marcwalsh, @marcwalsh-zz was from last year but I lost my 2FA recovery codes but managed to get my username back! 😅)

[2017-07-21 00:03] sabrinang opened #11 "Light Projection on Wall"
### Description:
On level 4's Big Space, we will have a light projection design on to the wall.

### Previous Applications
Reference last year's applications https://github.com/MozillaFoundation/Mozfest2016_production/issues/188#issuecomment-258993050

### Blockers:
2017 visual direction

### Reference from Last Year:
Github Issue: https://github.com/MozillaFoundation/Mozfest2016_production/issues

[2017-07-21 00:36] sabrinang opened #12 "Slides: Speaker Intro/Outro Screens + Speaker Template"
### Description:
Update the slides that come before and after speaker's own slides with new visuals in various colour themes. Slides to consider to design:
- Speaker Series Section Intros
- 5 IH issue areas
- Speaker bio
- Title of talk
- Logo slide
- Q&A
- Thank You

Update a template for speaker's to use with their own slide content if they do not already have their own.

### Previous Applicatio

[2017-07-21 18:40] sabrinang opened #13 "Screen: Motion Graphic Video"
### Description:
This video will be on loop playing motion graphics on screens around the building displaying festival information.

Content TBD such as:
- MozFest 2017 Brand
- Tagline
- Spaces
- Speaker Series (times, talk, speaker, location)
- #mozhelp + info desk
- Social Media (hashtags, handles, platforms)
- WiFi (network, password)
- Schedule App

### Reference from Last Year:
Google Drive F

[2017-07-21 22:06] sabrinang opened #14 "Screen: Background + Assets for ProPresenter Social"
### Description:
Some screens will be using ProPresenter to showcase social media activity from twitter, instagram etc.

Assets TBD to deliver:
- background
- typography
- lockups
- tagline
- hashtag

### Previous Applications:
https://github.com/MozillaFoundation/Mozfest2016_production/issues/214#issuecomment-259269432

### Blockers:
- 2017 style guide

### Deliver to:
- stage crew

### Reference

[2017-07-21 22:58] sabrinang opened #15 "Screen: Background + Assets for AirMo + Facebook Stream"
### Description:
For audiences tuning into the speaker series on Air Mozilla or Facebook, we need to prepare some branded assets to be displayed with the video stream.

Assets TBD to deliver:
- Background behind AirMo Logo (16x9, 1920x1080)
- Lockup, Logo + Wordmark (.png)
- Title Card for MozFest 2017 Opening Keynote (16:9, 1920x1080)
- Title Card for MozFest 2017 Speaker Series (16:9, 1920x1080)

[2017-07-26 20:04] sabrinang commented on #4
I'm iterating on visual directions in this gslide deck here: https://docs.google.com/a/mozilla.com/presentation/d/1AJuG0G-rOwGLrlT0T2P2VnWBnkT_uSEW6kR9aK7ZqLQ/edit?usp=sharing

[2017-07-28 09:54] marcwalsh opened #16 "Comms: Email Banner"
Hey @sabrinang

We're looking to send a mail out early next week to let everyone know that the tickets are on sale.

Does a generic banner exist already for emails, similar to the Call for Proposals one?

🎟🎟🎟🎟🎟🎟

[2017-07-28 16:58] sabrinang commented on #16
There is no generic one yet _(the previous call for proposals had specific text on it)_.

Is this email sent out on Aug 2? and to clarify you do not want any text on this banner?
Also, if there is any specific banner dimensions let me know.

[2017-07-28 21:48] sabrinang opened #17 "Master Wayfinding List and Concept"
### Description

Master ticket to consider the wayfinding system concept and to build from the wayfinding work we established last year and explore different concepts.

Referring to last year’s way finding, here are some examples:
- Wayfinding: Space Banners
- Wayfinding: Floor plans maps
- Wayfinding: Floor vinyl
- Wayfinding: Registration table banner
- Sign: MozFest banner
- Sign: Registration

[2017-07-28 23:40] sabrinang opened #18 "Sticker Concepts"
### Description

This year we can have approximately ~4300 stickers for MozFest. We can brainstorm the design of the stickers as well as type of stickers we want. We can research and check out https://www.stickermule.com for ideas and offerings.

### Some initial ideas:
**Small** _(extra for pre-week events too)_
    - Generic Mozilla (stickers to reuse at other events)
    - MozFest Logo
    - Th

[2017-07-31 14:46] marcwalsh commented on #16
It would be the same dimensions as the call for proposals. No text is needed just the same as the Call for Proposals with the text removed if possible.

It was meant to be for 1st August to send to those who have subscribed for updated on ti.to, as well as just having something generic for us to send in case there is anything last minute that pops up.

[2017-08-01 00:51] sabrinang commented on #16
Generic banners exported here: https://drive.google.com/open?id=0B4Q8pzCpDS_eU0ZyMnA3OGtHNWM
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/2492510/28804524-9ac73456-7618-11e7-81a9-9846ebf687ce.png">

[2017-08-01 17:00] sabrinang commented on #17
Yesterday I chatted with @EsmeSimcox and she linked to degree show wayfinding examples: https://docs.google.com/presentation/d/1pyMRbzWkqQ7UD7Hyfbc_lU-OXuxFOz1XUtMchcW01po/edit?ts=597f5afb#slide=id.p

Some ideas we chatted through:
- using colour to orient each space/floor
- stickers on the floor to help navigate through space
- possible printers and budget
- white board / hackable sign for the in

[2017-08-01 17:02] sabrinang commented on #17
Today I chatted with Katharine from DigitalMe about wayfinidng + badging throughout MozFest space. The concept was to reveal opportunities to earn badges and display additional wayfinding information via an AR app they are making. There would be approximately 25 badges _(6 spaces x 4 badge types (lab/gallery/shed/meta) + 1 volunteer = 25)_. When participants earn badges there may be rewards and pr

[2017-08-02 10:34] EsmeSimcox commented on #17
I really like this idea of badges for each area, that shows information in addition to the information booth. When looking around Ravensbourne yesterday we came across these display boards, that the graphics department used for the degree show, which would be perfect for the information boards instead of the purple boards. What do you think?
![screen shot 2017-08-02 at 11 35 26](https://user-image

[2017-08-02 10:42] marcwalsh commented on #8
Hey @sabrinang - Are we able to add a refresh of the avatar for Twitter also? Since the chage from square to a circle doesn't sit nicely with last years.

[2017-08-02 15:10] marcwalsh commented on #16
❤️  - Looking awesome!!!

Thanks @sabrinang

[2017-08-02 17:59] sabrinang commented on #17
@EsmeSimcox thanks for sharing more options for the info booth! Are there at least 6 peg boards? Will let you know if these or the purple boards fit the style more as the visual direction develops.

[2017-08-02 18:36] sabrinang opened #19 "Social Media: Update Profile + Cover Photo"
Mozfest is on social media properties and their profile photos and header cover photos can use a refresh.

Examples of what we can update:

Twitter
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/2492510/28888096-344c0aaa-7774-11e7-85fe-36bebc4d73f5.png">

Flickr?
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/2492510/28888144-63555536-777

[2017-08-02 18:39] sabrinang commented on #8
Good call @marcwalsh, I filed an issue for refreshing profile + cover photos. Will track that progress on issue https://github.com/MozillaFoundation/mozfest-design-2017/issues/19

[2017-08-03 13:40] EsmeSimcox commented on #17
@sabrinang I believe so yes, but I will ask Ravensbourne to check that too.

[2017-08-10 18:16] sabrinang commented on #4
The tagline "Web For All" has been approved by Chris to move forward. Erika received explicit approval that we can proceed with the Web For All tagline.

[2017-08-23 23:49] sabrinang opened #20 "Schedule App Branding (Guidebook)"
### Description:
This year we are using Guidebook's branded app and there are a few design elements to prepare for it:
- [x] App Icon
- [x] Promotional Image
- [x] Splash Screen
- [x] Homepage Logo
- [x] Cover Image
- [x] App Screenshots
- [x] Colour Scheme
- [x] Menu Icons

Guidebook has [support](https://support.guidebook.com/hc/en-us/articles/115002968827) on how we can customize as we build th

[2017-08-24 17:43] sabrinang opened #21 "Swag: Name Card ID"
### Description:
Refresh the design of the name card ID that participants will wear on their lanyard.

### Content from 2016

**Front:**
- Mozilla Festival 2017 wordmark and or Tagline
- Empty area (for name, social media handles, stickers etc.)

**Back:**
* WiFi: [network name and password]
* Help: Tweet #MozHelp or visit the Info Desk on floors X, X and X.
* Schedule: [schedule shortlink]
* Lunc

[2017-08-24 18:09] edrushka commented on #21
For the MozFest weekend, we need two versions of the name card:
1) full festival weekend card (content in comment above)
2) science fair only card (doesn't need "lunch" content, if we decide to include that in the full festival card)

We need something that stands out in the design (perhaps a different colour background?) to indicate the different ticket types.

[2017-08-25 18:32] sabrinang commented on #21
some WIP on some icons I created to go with the categories for clearer information hierarchy and experimenting with colour/textures
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/2492510/29727437-b571da80-8988-11e7-81cb-07fe154695ff.png">

[2017-08-25 19:15] edrushka commented on #21
Ohhhh nice! I love textures on the front! 🎨

@Saallen @marcwalsh can we go with the lanyard attached in two spots again this year? I know it took volunteers a lot longer to attach the lanyards to the cards. IMO, it's worth the effort so the card doesn't flip around and hide people's names.

[2017-08-25 21:21] edrushka opened #22 "Photo treatment for media page"
Hi @sabrinang - can you please give this photo a colour treatment so we can use it for the media page? Thanks!

https://user-images.githubusercontent.com/2492510/29726897-88553620-8986-11e7-9fe2-18858c266104.png

[2017-08-25 22:37] sabrinang opened #23 "Swag: Mozilla Festival Stickers"
### Description:
We want to create some event stickers for MozFest and for the pre-week events too.

**Main small sticker ideas:**
- MozFest Logo (do we want to include "2017"?)
- MozFest Tagline _(Web for All)_

**Other ideas include:**
- Generic Mozilla (stickers to reuse at other events)
- 6 Spaces/IH Areas

Sticker supplier: https://www.stickermule.com

### Previous Applications
Last year we h

[2017-08-25 22:59] sabrinang opened #24 "Swag & Name Card: Language + Pronoun Customization Stickers"
### Description:
These language stickers help declare what languages the attendee can converse in and these are displayed on their name card.

**The sticker can contain:**
- "I speak" in English
- Localized language name
- ISO 639-1 code (two-letter classification code)

**Print requirements:**
matte (non-glossy) finish so pen/markers can write on them easily and these can be printed on sheets

##

[2017-08-28 17:20] sabrinang opened #25 "Stages: Main and Secondary Printed Backdrops"
### Description:
Previously we had two stages:
- the Main Stage on Level 4
- the Secondary _(Dialogue and Debates Stage)_ in the Walker Space on Level 0

These had a printed backdrop, two screens, one comfort monitor (no have a podium or projector).

#### Things to Consider
- Both stages should have related designs to each other
- Talks will be streamed and recorded from Secondary stage
- This is

[2017-08-28 20:15] sabrinang opened #26 "Wayfinidng: Registration Table Signage"
### Description:
When attendees enter the venue, there are a few registration tables set up and signage to help identify the various stations to guide them through the process and signs help make the tables look more official so people know where to go.

**This collection of signs include:**

- [x] Welcome sign (with l10n incorporated) https://github.com/mozilla/mozillafestival.org/issues/720
- [x

[2017-08-28 23:08] edrushka opened #27 "Find replacement colour for hot pink"
We need to replace the hot pink on the MozFest website for accessibility reasons.

Please select a replacement accent colour from the 2017 palette.

[2017-08-28 23:44] mmmavis commented on #22
tagging myself here @mmmavis

[2017-08-28 23:45] sabrinang opened #28 "Wayfinding: Info Booth for Spaces"
### Description:
At the entrance or stairway to each space or floor, we have a desk and pinboard stationed with space information for attendees. We can try [wooden peg boards](https://github.com/MozillaFoundation/mozfest-design-2017/issues/17#issuecomment-319635049) or purple fabric pinboards seen last year for this set-up.

**This collection of signs include:**

- [x] Space Poster (Name, Icon, De

[2017-08-28 23:58] sabrinang opened #29 "Wayfinding: #MozHelp Desk Sign"
### Description:
Last year, the #MozHelp desk was On level 5. Design some signs to make this easy to find beyond the desk area.

**This collection of signs include:**
- [ ] #MozHelp desk sandwich board sign (A4 last year if we tap onto the side of a table perhaps A3)
- [ ] extra #MozHelp sign
          - maybe export it with an arrow so it can be seen coming up from the stairwell
- [ ] #MozHelp ba

[2017-08-29 09:40] marcwalsh commented on #21
+1 for attaching the lanyard in two spots! It also means they are less likely to break...

[2017-08-29 18:01] sabrinang opened #30 "Signs: MozFest Branded Banners for Entrance"
### Description:
At the entrance, we had two vertical MozFest branded banners hanging on the balustrade facing the entrance. It was placed symmetrically with accompanying tagline banners to frame the monitor in the center (just above the registration table). Two horizontal MozFest branded posters were taped on the front of the tables near the entrance to make the tables appear more prominent. Thes

[2017-08-29 18:28] sabrinang opened #31 "Wayfinding: Floor Vinyl Stickers"
### Description:
To accompany the wayfinding maps, we will use a floor vinyl system the displays floor number, space name, directional arrows, venue areas and branding. The information is modular in case we don't know which space is assigned to which particular floor until early October so when we do the install at Ravensbourne we have a flexible system. Last year we printed extra stair vinyls and

[2017-08-29 18:51] sabrinang opened #32 "Wayfinding: Floor Plan Maps"
### Description:
Update location of spaces and specific locations for this year and update the branding and colours. This content includes highlighting:

- Spaces
- Lunch areas
- Coffee
- D&D stage
- Main stage
- Prayer room
- Supplies room
- Creche
- Toilets
- Water
- #mozhelp
- info booth

**This collection of maps include:**
- [x] (1) Floor Overview Map
     - appears throughout the building sp

[2017-08-29 19:25] sabrinang opened #33 "Wayfinding: Space and Floor Number Banners"
### Description:
For the 6 spaces this year, design banners that hang from the balustrades seen from the foyer and atrium. The info booths also use a space banner.

**Spaces include:**
- Youth Zone
- Privacy & Security
- Open Innovation
- Decentralization
- Digital Inclusion
- Web Literacy

**This collection of banners include:**
- [x] (6) Large Space Banners for hanging on banisters
- [x] Medium

[2017-08-29 19:50] sabrinang opened #34 "Hackable Signs: Session and Schedule"
### Description:
Design empty template signs for session hosts to make a sign for their session.

This year we may want to try the idea of having a hackable schedule poster like a whiteboard behind the information desk for additional information. It can be empty blocks for wranglers or info booth volunteers to fill in if it is useful.
<img width="1138" alt="image" src="https://user-images.githubus

[2017-08-29 19:56] sabrinang opened #35 "Hackable Signs: Demo Cards"
### Description:
If we are having science fair or closing demos, we can have printed card template for host to write and fold to place on their tables

**Format**
- A4 and fold in half

### Previous Applications
![mozfest-documentation-science-fair-closing-cards](https://cloud.githubusercontent.com/assets/2492510/20123004/f35b6da8-a5d0-11e6-9ba2-74616a25c8a2.png)

### Reference from Last Year:
Goo

[2017-08-29 20:14] sabrinang opened #36 "Poster: MozFest Tagline Poster (L10n and Hackable Versions)"
### Description:
Design official MozFest Tagline posters that will be around the building and collect them at the end of the event for people to take them home. This year we will have one l10n poster (instead of 1 for each language) and a hackable poster for people to interact with. The concept of the l10n poster may be hackable too. The hackable posters needed to be lined with thick tape for pen

[2017-08-29 20:36] sabrinang opened #37 "Poster: Speaker Series"
### Description:
Design promotional poster for the speakers this year at MozFest. Last year, they we're designed as 5 series to feature a cluster of speakers. Posters should include information such as:

- Time of talk
- Speakers' names
- Speakers' photos
- Title of each speaker's talk
- Location (Walker Space on the ground floor)

Information on speakers here: https://mozillafestival.org/speakers

[2017-08-29 20:53] sabrinang opened #38 "Poster: Photo & Video Consent"
### Description:
Poster that outlines our photo consent policy. This is displayed prominently at registration, near the debates and discussion room and near the mains stage area.

**Format**
- A2 and A3?
- MozFest House Format: a smaller version that is branded mozfest house on registration table (sandwich board style: https://www.pixartprinting.co.uk/displays/point-of-sale-displays/floor-display/

[2017-08-29 21:18] Saallen commented on #21
Looking good @sabrinang
I would advise having the welcome desk as the focus for raising any issues- more staff and volunteers here- Raves run the 5th floor desk.
@marc to confirm wifi info

[2017-08-29 21:37] edrushka opened #39 "Style Guide: simplified version"
Please create a simplified version of the style guide to share with space wranglers and, later in September, session facilitators.

[2017-08-30 10:02] Saallen commented on #21
Looking good @sabrinang
I would advise having the welcome desk as the focus for raising any issues- more staff and volunteers here- Raves run the 5th floor desk.
@marc to confirm wifi info

[2017-08-30 10:53] marcwalsh commented on #21
WiFi Confirmed! 📶📡 - @sabrinang

Network Name: Rave
Password: mozfest17

[2017-08-30 10:58] marcwalsh opened #40 "Access to Repo"
Hey @edrushka @sabrinang

Could you give the following people access to the repo please?
@marcwalsh
@EsmeSimcox
@Saallen

[2017-08-30 22:45] sabrinang commented on #6
Space icons have been refined from feedback I received and paths/strokes finalized:
<img width="1300" alt="image" src="https://user-images.githubusercontent.com/2492510/29898308-ebd2abf8-8d99-11e7-8e22-4a16321be4bd.png">

Download space icons here: https://drive.google.com/open?id=0B4Q8pzCpDS_eSnRkOUc2d0tMaE0

[2017-08-30 22:45] #6 closed

[2017-08-31 01:28] sabrinang commented on #5
I iterated on these by removing boxes, fill versions of the icon and pixelation strategies suggested but they visually were not as successful as the rectangular lockups (either they looked like they floated or looked like  pixelated rendering issues).

We can use variations of the logo in a box or as a standalone visual element. In some printed materials we also want to incorporate "2017" in the w

[2017-08-31 01:28] #5 closed

[2017-08-31 01:44] sabrinang commented on #40
I added you all as collaborators! _(you may need to accept an invite link)_

[2017-08-31 02:07] sabrinang opened #41 "Poster: Participation Guidelines"
### Description:
Poster that outlines our participation guideline policy. This is displayed prominently at registration, info booths and throughout the space.

**Content**
Since this language will be seen on the back of the festival guide, the content can be found here: https://github.com/mozilla/mozillafestival.org/issues/703
These guidelines will be localized in other languages as well so this p

[2017-08-31 02:29] sabrinang opened #42 "Swag: Volunteer T-Shirts"
### Description:
Design t-shirts for our lovely volunteers so they can be easily spotted by attendees. The front of the shirt may contain this years branding and tagline. The back will have the #MozFest and it has been preferred to have the date present (example: MozFest 2017 or Mozilla Festival 2017) as it is seen as a collectable by volunteers. :)

**MozFest House:** The volunteers will be weari

[2017-08-31 09:56] marcwalsh commented on #40
Great thank you! :)

[2017-08-31 09:56] #40 closed

[2017-08-31 09:58] marcwalsh commented on #38
@sabrinang I think A2 would work best as there is a fair amount of info, but we can always get a few A3 printed as well for smaller areas.

[2017-08-31 16:32] sabrinang commented on #39
I made a short simplified version of the style guide in the format of a gslides presentation: https://docs.google.com/presentation/d/1E7k4LHwab2QsdUereRBN3ePJvRC0ex2wwJCKBX3jKn4/edit?usp=sharing

The end of it is still WIP (mainly working out colours in wayfinding) but the main thing here is a downloadable link for the space icons down in the speaker notes section.

[2017-08-31 17:23] sabrinang commented on #39
Some feedback I got and thoughts after sharing this on the call today:

What is the expectation with wranglers/facilitators and design? Maybe we should only share a limited amount of stuff because by sharing too many assets, it may create an unexpected burden/pressure that they are expected to design their own stuff this year (and they already have lots on their plates).

Also, I’m getting a feeli

[2017-08-31 17:31] sabrinang commented on #4
The visual direction brainstorm and exploration process: https://docs.google.com/a/mozilla.com/presentation/d/1AJuG0G-rOwGLrlT0T2P2VnWBnkT_uSEW6kR9aK7ZqLQ/edit?usp=sharing

Established design elements will be located, developed and documented on the https://github.com/MozillaFoundation/mozfest-design-2017/issues/7 Style Guide.

[2017-08-31 17:31] #4 closed

[2017-08-31 17:36] sabrinang commented on #7
I'll be developing and documenting established design assets in the style guide this will be finalized as an up and coming .ai file and an easier to share format via gslides that you can follow.

WIP Slides

Style Guide (Simplified - for wranglers/session hosts): https://docs.google.com/presentation/d/1E7k4LHwab2QsdUereRBN3ePJvRC0ex2wwJCKBX3jKn4/edit?usp=sharing

Style Guide (Extended - for design

[2017-08-31 18:30] sabrinang commented on #2
We may need to display sponsorship logos on a printed banner near the entrance such as https://www.pixartprinting.co.uk/displays/roller-banners/ but TBD until @edrushka finds out more from sponsors.

[2017-08-31 19:03] sabrinang opened #43 "Swag: Festival Guide"
### Description:
The festival guide is a key part and informative part of the MozFest swag. Last year's festival guide came in a clipped package including:
- festival guide
- wrangler bios
- floor map
- notebook
- sharpie + clip

**Format:**
This year we can decide on a format that works with the swag. Swag TBD

### Content
All content here: https://github.com/mozilla/mozillafestival.org/issues?q=

[2017-08-31 19:21] sabrinang opened #44 "Swag: Notebook"
### Description:
Handy dandy notebook swag for our attendees.

**Format:**
This may depend on the design of the #43 Festival Guide but last year we went with A6.

### Previous Applications
The A6 (10.5 x 14.8cm) notebooks are clipped to the festival guide/map accompanied with a sharpie. It has 60 pages of 90gsm ivory paper sewn bound with yellow thread.

![mozfest-documentation-notebook](https://c

[2017-08-31 19:50] sabrinang opened #45 "Swag: Lanyard"
### Description:
Decide on the colour of the lanyard for attendees as well as a colour for attendees who do not want to be on video or photographed.

**Format**
Last year, we had blue lanyards with 2-point metal swivel lobster clasp style clip were the main style. Yellow lanyards were used to indicate they did not want photo/video taken of them. Both lanyards have a safety release in the center.

[2017-08-31 20:17] sabrinang commented on #1
I finished ticketing the assets in the spreadsheet (some like social will be divided into smaller tickets once I get on designing them) and also put gantt live data on each ticket to have an overview but I do prefer the spreadsheet still but it was neat to try another tool.
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/2492510/29943442-5767ec98-8e4e-11e7-826b-72f399b

[2017-08-31 20:17] #1 closed

[2017-08-31 21:06] xmatthewx commented on #39
👍 good idea to give them a limited set of things, maybe icons, gray textures ... but reserve logo, bright colors for official stuff. some people might butcher the elements and blur the line with wayfinding and other official stuff.

[2017-09-01 09:57] Saallen commented on #39
@sabrinang , I think Matthew is right, give them assets that you dont mind them remixing or using.
There is no expectation on wranglers for design assest- they do however have budget to buy props, cool swag or bits to decorate their space. This can be a remix of you style guide or just filling their space with disco balls!

[2017-09-02 00:44] sabrinang opened #46 "Style Guide: Art Textures"
### Description:
For this year's visual direction, I want to use more fluid waves as part of the visual system for the Web for All theme. These will be abstracted lines over colour or gradients with and not appear too busy. See [Style Guide](https://docs.google.com/presentation/d/1aGORKRRTzvVXo19XeBYeOZbDA5QkM-X1vCjNMpcj9Vc) for visual system reference.

Here are some examples found online (main i

[2017-09-05 21:43] sabrinang commented on #46
experimenting with variations of gradient mesh + line overlays:
<img width="1120" alt="image" src="https://user-images.githubusercontent.com/2492510/30084756-84df49fc-9248-11e7-89f0-389f19a3eae2.png">
<img width="798" alt="image" src="https://user-images.githubusercontent.com/2492510/30085065-d344b428-9249-11e7-98de-bf4ec2688670.png">

[2017-09-06 10:40] marcwalsh opened #47 "Swag Meta-Ticket"
This is the place for all things Swag.

Currently planned are the following pieces:

- [x] Socks
- [x] A6 Notebook
- [x] Waterbottle
- [ ] Sharpies

[2017-09-06 18:00] sabrinang opened #48 "Style Guide: Tagline (Web for All) Lockup"
### Description:
The tagline this year is Web for All and this is a lockup treatment of that text.

**Format**
We can have a main outline version and fill version. Include various alternative examples of modified versions.

### Previous Applications
Last year we had variations of 'One Web'
<img width="857" alt="image" src="https://user-images.githubusercontent.com/2492510/30126856-2ad6e7f8-92f2-11

[2017-09-06 18:04] sabrinang commented on #48
<img width="684" alt="image" src="https://user-images.githubusercontent.com/2492510/30127153-13a6b35a-92f3-11e7-929b-94327d56f45c.png">

Tagline files are located here on gdrive (png / svg / ai working file): https://drive.google.com/open?id=0B4Q8pzCpDS_edjZPTDlMN0RLUFE

[2017-09-06 18:04] #48 closed

[2017-09-06 18:25] sabrinang opened #49 "Style Guide: Colour"
### Description:
Decide colours used for this year's MozFest. Align with evolving Mozilla wide palette, keeping it vibrant and include a variety the works with people who have colour vision deficiencies.

**Format**
Include .ase file and document in style guide.

### Previous Applications
<img width="856" alt="image" src="https://user-images.githubusercontent.com/2492510/30127948-ceb1d9b6-92f5-11e

[2017-09-06 18:47] sabrinang commented on #49
**Palette**
We will be using tint and shade variants from our original palette and highlight 6 for spaces and using a mixed palette for overall mozfest design.
<img width="1291" alt="image" src="https://user-images.githubusercontent.com/2492510/30128784-c0553216-92f8-11e7-840c-360e03ff4589.png">

**Accessibility and colour:**
Use iconography and text to accompany colour wayfinding where possible:

[2017-09-06 18:49] sabrinang commented on #49
<img width="243" alt="image" src="https://user-images.githubusercontent.com/2492510/30129020-6ccb8be4-92f9-11e7-95b6-35d97da3cfbc.png">

Swatch File (.ase) is on the drive here: https://drive.google.com/open?id=0B4Q8pzCpDS_ed3U1SjlOWjBKWk0

[2017-09-06 18:51] sabrinang commented on #49
Pantones are missing from this colour palette (will be matched and added soon).

[2017-09-06 20:06] sabrinang commented on #7
.ai and .pdf files can be found in gdrive here: https://drive.google.com/open?id=0B4Q8pzCpDS_eSjZ1QTVGM2lRaGM

[2017-09-06 20:12] sabrinang commented on #7
![guide](https://user-images.githubusercontent.com/2492510/30132339-e3973920-9304-11e7-9d17-5ef7aca89dce.jpg)

[2017-09-06 21:41] sabrinang commented on #22
@mmmavis Banner for the media page:
![media-banner 2x](https://user-images.githubusercontent.com/2492510/30135814-47c834c4-9311-11e7-95aa-d0ba2b8fa46c.jpg)

[2017-09-06 23:16] sabrinang commented on #42
@marcwalsh Is our t-shirt supplier [Xamax](http://www.xamax.co.uk/100-gildan-coloured-t-shirt-free-print-offer.html) again this year? I'll be looking at colours and wondering what brand/style/colour we are limited to and design from there.

[2017-09-07 12:54] EsmeSimcox commented on #42
@sabrinang I have been looking into T-Shirts companies including Xamax. I have been getting quotes for:
- Single Colour A3 print on the back and Single Colour A4 print on the front
- Single Colour A3 print on the back and a Full Colour A4 print on the front
- Full Colour A3 print on the back and a Full Colour A4 print on the front
- Full Colour A3 print on the back and a Single colour A4 print on

[2017-09-07 16:07] mmmavis commented on #22
Hey @sabrinang could you export the image without the slanted lines? Like every other hero banners on the site, the slanted lines will be added via CSS. /////

[2017-09-07 17:59] sabrinang commented on #42
Thanks for the dimensions @EsmeSimcox - Let me know if there is a particular brand of shirt these quotes are for (gildan, raglan, fotl etc.) so I can start looking at colour?

[2017-09-07 18:06] sabrinang commented on #11
@EsmeSimcox Do you know what colours are available and are we limited to one? (example: can we switch between tagline and gear logo)

[2017-09-07 18:28] sabrinang commented on #41
@edrushka Do you have anymore thoughts on the localized format of this participation poster.
Are the seven languages all separate posters or together in a single poster?
Are they the same size as the EN one (which I am thinking large like the photo/video consent poster size but last year it was just printed on letter sized paper since it was a last minute addition)?

Related L10N ticket: https://g

[2017-09-07 19:58] EsmeSimcox commented on #11
@sabrinang Do you know what you used last year to create this? Was it a project or something else?

[2017-09-07 20:10] marcwalsh commented on #11
@sabrinang - We just need an RGB value for the colour, as it's full spectrum. I'll double check but it should be possible to cycle through more than one.

[2017-09-07 20:12] sabrinang commented on #22
@mmmavis Yes! Sorry I forgot - here is the original and retina versions if you need:
![media-banner](https://user-images.githubusercontent.com/2492510/30183105-05e7c20a-93ce-11e7-8a6a-fe8fa4c9c1a9.jpg)
![media-banner 2x](https://user-images.githubusercontent.com/2492510/30183106-05e9ad9a-93ce-11e7-91c5-2ca6b6ce947f.jpg)

[2017-09-07 20:17] EsmeSimcox commented on #42
@sabrinang I will have a look on their website tomorrow about which brand t-shirts the quotes are for and let you know. Yes - all the t-shirt companies who have got back to me can print on colour t-shirts

[2017-09-07 20:33] mmmavis commented on #22
Awesome. Thanks!

[2017-09-07 20:33] #22 closed

[2017-09-08 14:40] EsmeSimcox commented on #42
@sabrinang for Xamax Clothing it will be on Gildan T-Shirts and for the other company, it will either be on Gildan, Stars or Stripes brand of t-shirt.

[2017-09-08 14:45] marcwalsh commented on #42
Hey @sabrinang @EsmeSimcox - let's stick with Xamax this year.

Colour choices are below:

<img width="225" alt="screen shot 2017-09-08 at 15 44 22" src="https://user-images.githubusercontent.com/30226684/30216964-a7cb56c0-94ac-11e7-91b8-66cb70b68d7d.png">
<img width="225" alt="screen shot 2017-09-08 at 15 44 14" src="https://user-images.githubusercontent.com/30226684/30216967-a7e86cc4-94ac-11e7-9

[2017-09-08 14:51] EsmeSimcox commented on #42
Hi @ZiggyMaes @tomfarrow @rtsayles, @sabrinang is beginning to look at colour for T-Shirts and I thought I would tag you in so you can be involved. Also please reference #49 as the colour of the t-shirt will need be as close to the pallet as possible.

[2017-09-08 16:50] rtsayles commented on #49
@EsmeSimcox What are our options for colors?

[2017-09-08 18:24] sabrinang commented on #28
Let's consider using a standing totem as an option instead of the board set up: https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3-xl/

[2017-09-08 22:16] sabrinang commented on #49
<img width="1072" alt="image" src="https://user-images.githubusercontent.com/2492510/30232413-d10be250-94a4-11e7-8bf3-811211e78ce3.png">
Matching colours using the PANTONE+ Colour Bridge Coated Book. However, I choose some from the Neon & Pastels book (which I don't have in person to match) as they are more vibrant.

![coatedbook](https://user-images.githubusercontent.com/2492510/30232596-bf092efe

[2017-09-08 22:16] #49 closed

[2017-09-08 22:18] sabrinang commented on #49
@cassiemc Please check these pantones with the book you have, if they seem inaccurate please update them before using them in the festival guide.

[2017-09-11 16:33] cassiemc commented on #43
@edrushka @sabrinang Can you assign this to me please (and any other issues as necessary)?

[2017-09-11 17:20] sabrinang commented on #43
@cassiemc I tried assigning this to you but I'm not able to, I think you need accept to be a collaborator first: https://github.com/MozillaFoundation/mozfest-design-2017/invitations

[2017-09-11 17:27] sabrinang commented on #42
Matching some t-shirt colours that are close to our palette and pairing it with (single colour) designs. Inital T-shirt mockups are on redpen: https://redpen.io/p/rveb958102a79887bb
<img width="1254" alt="image" src="https://user-images.githubusercontent.com/2492510/30287208-1780a1c2-96d9-11e7-8f13-2429cf58f774.png">

[2017-09-11 17:31] sabrinang commented on #42
Looking at the tshirt palette available, it looks like we are going with the [Gildan Softstyle® Adult T-Shirt](https://www.xamax.co.uk/gildan-softstyler-adult-t-shirt.html)

[2017-09-11 20:29] sabrinang commented on #39
I simplified the simple style guide: https://docs.google.com/presentation/d/1E7k4LHwab2QsdUereRBN3ePJvRC0ex2wwJCKBX3jKn4/edit?usp=sharing
Which includes brand (logo/wordmark/lockup), cube pattern and motifs, zilla slab/highlight typeface, space icon and colour swatch. I removed the extras to keep this limited (which can be found in the extended guide for contractors and designers).

[2017-09-11 20:29] #39 closed

[2017-09-12 00:58] edrushka opened #50 "Photo for MozFest House page"
We need a photo for the pre-week page. @Saallen what do you think of these? We don't have the rights them, though - we'd have to ask permission from the RSA to use.
![dsa-entrance1](https://user-images.githubusercontent.com/4515662/30303045-2a4cbd04-971a-11e7-858b-9d13480160d5.jpg)
![durham-street-auditorium--fixed-theatre-side-view1](https://user-images.githubusercontent.com/4515662/30303046-2c22

[2017-09-12 01:05] edrushka commented on #50
Options from our own photos (that don't look quite so much like Ravensbourne):
https://www.flickr.com/photos/mozfest/22252821513/in/album-72157658649418943/
https://www.flickr.com/photos/mozfest/22847962796/in/album-72157658649418943/
https://www.flickr.com/photos/mozfest/22892317531/in/album-72157658649418943/

@Saallen  Do you have any links to Eric Westra's albums? They have a nice different fe

[2017-09-12 09:24] EsmeSimcox commented on #42
@sabrinang These look amazing! My favourite is the blue one on the bottom right, but I love them all!

[2017-09-12 09:36] tad124737337 commented on #42
I'm with Esme on the bottom right!
Also a fan of the blue in the top left. Not a fan of the yellow or red at all.

Bottom right > top left > top right > bottom left for me

[2017-09-12 09:40] tad124737337 commented on #29
Our central helpdesk this year is going to likely be positioned on Floor 4's Ravensbourne desk. This is quite a big desk, and we want to make a large presence there. A large banner dropped down would be great.

[2017-09-12 09:43] tad124737337 commented on #28
+1 to the totem suggestion. I found the boards to be "cluttered" and hard to read. I'm not sure how well we can present the more detailed information without the board, but if you have a proposal for that, I'd be very interested in providing feedback!

Perhaps we can use very simple advertising stands with printed information on top of the table.

[2017-09-12 12:32] Saallen commented on #50
Hey @edrushka and @lucieclick
I think we should use a picture of the entrance so when ppl see the entrance they recognise the building on the day. @lucieclick can you ask Kate if we can use one of their photos.

![image](https://user-images.githubusercontent.com/10194015/30326187-95e8d55c-97bf-11e7-9dce-4517ab58ff43.png)

![image](https://i.pinimg.com/236x/55/3e/78/553e7824e1416f72873b871a655dd2ed

[2017-09-12 14:07] cassiemc commented on #43
@sabrinang I accepted the invite, had to enable 2FA. Thanks!

[2017-09-12 16:26] sabrinang commented on #24
Looking at last year’s design, I would prefer to not have english (I speak) on each sticker and included a visual icon instead to keep each sticker localized.
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/2492510/30333692-63338e04-9792-11e7-980a-b119c9a39c22.png">
I did consider some flag inspired gradients but it may get too visually busy and flag inspired gradients

[2017-09-12 16:28] marcwalsh opened #51 "Swag: MozFest Socks"
London is cold, so we need to keep out feet warm. 👠

There are two options for socks which are below:

1. Woven Socks (Cheapest option) - 4 week lead time
<img width="610" alt="screen shot 2017-09-12 at 17 22 56" src="https://user-images.githubusercontent.com/30226684/30337101-2e744918-97df-11e7-8023-e117fc9aa7fa.png">

2. Slipper Socks (Slightly more expensive, but more interesting) - 3 week lead

[2017-09-12 16:37] sabrinang commented on #24
redpen here: https://redpen.io/p/fwd6e45324b8a54452

[2017-09-12 16:38] edrushka commented on #51
The woven ones (option 1) could be super cool if we could use one of Sabrina's background patterns.

[2017-09-12 16:43] edrushka commented on #50
@sabrinang could you turn any of these RSA entrance shots into a hero banner for the MozFest House page, or should we keep looking?

[2017-09-12 16:58] sabrinang commented on #50
@edrushka These RSA entrance shots work (if you have links to higher res versions available that would be great or I'll try looking around online too)

[2017-09-12 17:04] sabrinang commented on #51
I like the 1 woven socks! I have had slipper socks with the puff ink grip and it was not as versatile since it is not meant to be worn in shoes (slightly uncomfortable if puffs are even, feels lumpy)

[2017-09-12 17:46] tad124737337 commented on #42
Will the aqua perhaps look a little odd with the aqua name badges on top, actually?

[2017-09-12 21:06] sabrinang commented on #21
Iterations on redpen here: https://redpen.io/p/fwd6e45324b8a54452
<img width="1358" alt="image" src="https://user-images.githubusercontent.com/2492510/30347984-abe72ee6-97c2-11e7-944c-69ebfd19e997.png">

@xmatthewx After chatting about MozFest house, I made an alternative version with a different colour and visual marker on the lower right (with the word house and a simple icon logo). Does it look

[2017-09-12 21:08] sabrinang commented on #45
@marcwalsh Who are the suppliers for these lanyards? I was wondering what colours they have to choose from

[2017-09-12 21:42] edrushka commented on #21
House card information being tracked in https://github.com/mozilla/mozillafestival.org/issues/739

[2017-09-12 22:00] edrushka commented on #50
@lucieclick if the RSA gives us permission can you please see if they have a higher-res photo we can use?

[2017-09-12 22:48] sabrinang commented on #42
@TomFarrow  I iterated on the the design for name cards and they will have more of the deep bue-puple with bits of aqua so it shouldn't look to matchy if you are concerned about that

[2017-09-12 23:19] edrushka commented on #41
The seven additional languages should all be on separate, individual posters. We do not need to combine them on a single poster.

@marcwalsh what size do we want these localized posters? I feel like paper-sized (A3) will be sufficient.

[2017-09-12 23:38] edrushka commented on #13
Can also highlight Artists in Residence (1 per slide, listing what space you can find them in). That info is available here: https://github.com/mozilla/mozillafestival.org/issues/724

[2017-09-12 23:39] edrushka commented on #13
Can also add individual points from the participation guidelines (1 point per slide). That info is here:
https://github.com/mozilla/mozillafestival.org/issues/703

[2017-09-12 23:46] edrushka commented on #13
Would be great to include localized versions of tagline, too.

[2017-09-13 14:54] EsmeSimcox commented on #51
I love the woven ones! I think they would be such a good SWAG item!

[2017-09-13 16:41] EsmeSimcox commented on #17
@sabrinang I have had confirmation back in regards to the peg boards, and we are sadly unable to use them.

[2017-09-13 17:20] edrushka commented on #50
Here's the photo from the RSA (we have permission to use this one). @sabrinang can you apply a treatment to make it a hero banner for the page?

![rsa exterior close](https://user-images.githubusercontent.com/4515662/30391062-067cff98-986d-11e7-9f9e-0d4218abb14c.jpg)

[2017-09-13 17:23] Saallen commented on #50
what really important in this picture is the RSA ON THE COLUMN.
Can we darken that so its seen?

Sarah Allen

Executive Festival Director, MozFest
Mozilla Foundation

Find out more about MozFest <https://mozillafestival.org/> and follow the
conversation on twitter <https://twitter.com/mozillafestival?lang=en-gb>

On 13 September 2017 at 18:20, Erika Drushka <notifications@github.com>
wrote:

[2017-09-13 21:04] sabrinang commented on #50
@erikad I added the colour treatment we have for hero banners to the approved image:
![rsa-banner](https://user-images.githubusercontent.com/2492510/30399776-a81a3782-9889-11e7-9364-d0ebc453f407.jpg)

I don't think image has been approved but it might not be best to have lots of text in the hero banner image area since a white heading title goes above it but I treated it with the colour as well:
!

[2017-09-13 22:41] cassiemc commented on #47
@marcwalsh How big is the drawstring bag?

[2017-09-14 10:43] Saallen commented on #50
👍  @sabrinang

[2017-09-14 14:38] marcwalsh commented on #47
Hey @cassiemc - I think we're looking to remove the bag. I'll update the ticket now.

[2017-09-14 15:04] cassiemc commented on #47
@marcwalsh ok thanks! I heard it was maybe a "grab what you want" swag table, is that what you're thinking, or how do you imagine will be organized? Just trying to think dimensions for the festival guide and it it can slot in with or clip together nicely with other swag, as per last year

[2017-09-14 16:30] sabrinang opened #52 "MozFest House Brand"
### Description:
For the pre-week, these spin-off, sister events will be called MozFest House. Let’s create a visual modifier that includes or adds the name “House” that could be easily applied to existing materials in print or applied as a sticker on top.

[2017-09-14 16:35] sabrinang commented on #52
@xmatthewx @edrushka @Saallen Can I get your feedback? Redpen here: https://redpen.io/ea7e62fa798fedad44

I adapted a single cube to make it look like an abstract house, I think the gear outline visually ties it back to mozfest a bit more than the circle
<img width="1045" alt="image" src="https://user-images.githubusercontent.com/2492510/30441906-a9505d56-992f-11e7-9fec-e5555401036c.png">

[2017-09-14 16:42] marcwalsh commented on #45
@sabrinang - [Here's the link](https://www.aspinline.co.uk/lanyards/double-ended-lanyards/double-ended-lanyards-15mm-1-colour)

They are Pantone matched, however, I would try to avoid Neon as that can sometimes cost more.

[2017-09-14 18:51] xmatthewx commented on #21
@sabrinang
 - I love the colors, the empty hex works well. I also like the "cut corner" black triangle as a modifier that could be applied to different things.
 - I think the MozFest logo needs the gear icon in its lockup on the house materials. It feels very different without it and, at a glance, signals Mozilla not MozFest.
 - While I like the house icon, I think it creates too much of a new bra

[2017-09-14 18:53] xmatthewx commented on #52
See my comment here: https://github.com/MozillaFoundation/mozfest-design-2017/issues/21#issuecomment-329575552.

The icon looks great. But given the nature of this event series, and limitations with the venue, I'm concerned that people less familiar with MozFest won't have the chance to build an awareness of MozFest. I think we should stick with the gear icon in the mozfest lockup, and skip a spec

[2017-09-14 20:32] sabrinang commented on #31
Here is an rough iteration of the floor vinyl plan:
<img width="1104" alt="vinyl overview example" src="https://user-images.githubusercontent.com/2492510/30454177-3b0facfe-9950-11e7-8696-ad54369ee6b6.png">
I believe sticker mule can have multi colours so I will iterate on the large gear and tagline stickers and both their scale. I'd like to leave the floor number and arrow black so they can mix an

[2017-09-14 20:47] sabrinang commented on #23
I made some stickers that would be great on [clear vinyl](https://www.stickermule.com/ca/products/clear-stickers):
- MozFest Lockup that includes 2017
- MozFest Tagline (2 Versions)
- Generic Mozilla (stickers to reuse at other events)

<img width="927" alt="image" src="https://user-images.githubusercontent.com/2492510/30454736-39625062-9952-11e7-803e-e0ba8267af91.png">

I also made
- 6 space stic

[2017-09-14 20:54] sabrinang commented on #18
These sticker concepts are gathered on redpen here: https://redpen.io/p/ka33b44c1567fe7db5

[2017-09-15 10:54] Saallen commented on #50
Hey, we would like to use the hero banner also for ticketing pages- especially our co working sign up
https://ti.to/Mozilla/mozfest-house-co-working-space
Let me know when we can add - 💯

[2017-09-15 11:02] Saallen commented on #50
Hey, we would like to use the hero banner also for ticketing pages- especially our co working sign up
https://ti.to/Mozilla/mozfest-house-co-working-space
Let me know when we can add - :

[2017-09-15 12:24] marcwalsh commented on #47
We’re looking at more a grab what you want section. I think we’re removing the bag and going with socks or equally out there. :)

For the festival guide, think of it as something a little separate, if you feel a notebook works in the clipped back just let me know and I’ll work it into costing! Don’t let the swag hold you back!

On 14 Sep 2017, at 16:04, Cassie McDaniel <notifications@github.com<ma

[2017-09-15 12:55] marcwalsh commented on #51
So I've heard back from the printers and the woven socks are a bit too tight of a deadline. They would need the artwork next Wednesday at the moment, but I'll keep trying to push back.

Example template is below:
[AND socks-3.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1306395/AND.socks-3.pdf)

[2017-09-15 20:49] cassiemc commented on #43
I've sent @marcwalsh an email but it bounced back to me, so adding it here. Hopefully we can get this quote request out soon and get some answers back from the printer to make decisions around size. :) cc @edrushka @sabrinang @Saallen

I think this is a fair representation of what we discussed this morning but please feel free to add to or adjust when you send to the printer. I always like to leav

[2017-09-15 23:58] edrushka commented on #51
OK see what you can do, Marc. We have no other urgent, imminent deadlines, so it's possible we can do this if they can give us just a bit more time.

[2017-09-18 20:42] sabrinang commented on #51
@marcwalsh Do you have the link to the promotional standard woven socks? I can't find more details and I want to know if there are any limitations and the format of the "printed header card" mentioned in the description. Are we also selecting one design?

I designed some sock ideas on redpen but unsure what is doable by the sock manufacturer: https://redpen.io/p/bnfe819bbfecaa5ede
<img width="1102

[2017-09-18 21:13] marcwalsh commented on #51
@sabrinang - I'll send the designs over and see what's possible.

The vendor is [Brand-Ahoy](http://www.brand-ahoy.co.uk/socks-ahoy)

It looks like on the docs they sent it's full printing, however some the details on the website says it's only in certain sections. I'll confirm first thing tomorrow UK time.

Here's some grabs from the website on what they offer.

**Print Areas:**
![imprint-sock-28

[2017-09-18 21:39] sabrinang commented on #51
@marcwalsh These details look like it is for the slipper sock style not woven sock? but thanks for sending it over to see what is possible! I can rework it tomorrow to fit the printing areas and colours

[2017-09-19 10:23] marcwalsh commented on #20
Hi @sabrinang - I've uploaded the branding specs that Guidebook sent over to us this morning - it includes a bit more info on dims etc.

Would you like me to create separate issues for each piece?

[Guide Book Branding Specs](https://github.com/MozillaFoundation/mozfest-design-2017/files/1313847/branding-specs.pdf)

[2017-09-19 15:49] marcwalsh commented on #51
Hey @sabrinang - Great news they are able to meet the design of all the socks apart from the top right. I'm just confirming about a card that the socks come packaged in and will try and chat with @Saallen to get this signed off as I've got a total price etc now.

[2017-09-20 01:57] sabrinang commented on #20
Redpen here for feedback: https://redpen.io/p/cka334ade1ad2506dc
I'm not too sure where the promotional image appears in context, I might iterate on it with a lighter gradient.
![overview](https://user-images.githubusercontent.com/2492510/30623275-6f1cd020-9d6b-11e7-9d0f-d94d085abae7.jpg)

[2017-09-20 02:06] sabrinang commented on #20
I'll be updated the gdrive folder here: https://drive.google.com/open?id=0B4Q8pzCpDS_edGwtYnJzNzZaRHM

[2017-09-20 13:25] marcwalsh commented on #20
Hey @sabrinang - I placed these into Guidebook as placeholders. See the screenshots below about the usage :)

![screen shot 2017-09-20 at 14 19 10](https://user-images.githubusercontent.com/30226684/30646011-70750dc6-9e0f-11e7-8309-990526cabae6.png)

For the splash screen it requires the image as one. The canvas should be the background size and the logo elements need to be contained within those

[2017-09-20 13:32] marcwalsh commented on #20
Here are the previews of the colour scheme:

![preview1](https://user-images.githubusercontent.com/30226684/30646302-73b3daac-9e10-11e7-88cc-61b8b4a9621e.png)

![preview2](https://user-images.githubusercontent.com/30226684/30646304-770fa0b4-9e10-11e7-8367-a0e3db41298d.png)

[2017-09-21 14:17] marcwalsh commented on #51
Hey @sabrinang - This is all signed off now - I just need a couple of bits:

1 - We need 1 design choice out of these.
2 - Can I get a PDF version of this as well as the Pantone colours.
3 - They are also able to print a 6 x 13cm printed card to hold the pair together. It's folded in half, but this can just be an existing pattern rather than something specifically designed.

[2017-09-21 20:47] sabrinang commented on #51
The coloured cube options are popular on redpen so they are the two designs exported in the pdf and I include a card pdf if it is needed in this gdrive folder here: https://drive.google.com/open?id=0B4Q8pzCpDS_eeXo1dzhkVmVVZkU

The pantone colours are in the pdf too (some are neon pantones so the yellow, cyan, pink are brighter - I can pick alternatives if neons are not available)
<img width="1041

[2017-09-21 20:50] marcwalsh commented on #51
Amazing thanks @sabrinang - I’ll be sending these AM BST tomorrow so I would be good to have the non-neon Pantones as a backup just incase :)

[2017-09-21 23:58] sabrinang commented on #51
I updated the folder which has a .pdf that contain 4 pages now (2 with neon pantones and 2 without)

[2017-09-22 00:47] sabrinang commented on #20
Icons are updated and cover image (also updated in the [gdrive](https://drive.google.com/open?id=0B4Q8pzCpDS_edGwtYnJzNzZaRHM))
<img width="794" alt="screen shot 2017-09-21 at 5 44 03 pm" src="https://user-images.githubusercontent.com/2492510/30724691-82193a1c-9ef4-11e7-8d15-a7452cf7eb51.png">

Adjusted promotional image (no text and lighter gradient art)
![overview](https://user-images.githubuser

[2017-09-22 11:06] marcwalsh commented on #51
Thanks so much for getting this all together so quickly @sabrinang!

I'll close this as it's sent to the printers, I'll reopen if there are any issues.

[2017-09-22 11:06] #51 closed

[2017-09-22 15:17] marcwalsh opened #53 "Swag: Water Bottle"
We're planning to get a similar water bottle we had in 2014.

The vendor is [WeBrandIt](https://www.webrandit.co.uk/W12109).

They come in set colours and the options are below:
![waterbottlecolours](https://user-images.githubusercontent.com/30226684/30751492-61bc03f4-9fb1-11e7-98f8-6466ed025072.png)

We have quoted for a print area as shown in the images above that has a print area of 97 x 90mm i

[2017-09-22 16:51] edrushka commented on #51
I am so excited about these socks! 👣

[2017-09-22 17:45] sabrinang opened #54 "MozFest House: Cups"
### Description:
We will have 5000 branded cups at MozFest house since the space can't have branding on walls the cups are an opportunity to have it showcased.

### Related Issue:
blocked by https://github.com/MozillaFoundation/mozfest-design-2017/issues/52
__________________________
#### Print Deadline
September 29

[2017-09-22 20:20] sabrinang commented on #54
@marcwalsh Can you supply vendor details and if they have a template/dimensions to follow? (unsure if the cup itself is branded or a removable sleeve)

[2017-09-25 19:05] sabrinang commented on #53
Black or purple looks nice and we can use the white gear in the print area
redpen here for feedback: https://redpen.io/gtecd53af55c047d47
<img width="1118" alt="mockup" src="https://user-images.githubusercontent.com/2492510/30825412-be170d28-a1e7-11e7-92c6-49c67ca21cc9.png">

White gear logo svg: https://drive.google.com/open?id=0B4Q8pzCpDS_eY2xtLVFEVk1ycDA

[2017-09-25 21:46] sabrinang commented on #32
Revising maps designs with updated colours, new icons, update type (blanch and zilla slab), added lockup on lower left. Floors with spaces will use space colour which will be worked on when content is determined.
<img width="848" alt="test" src="https://user-images.githubusercontent.com/2492510/30832318-83adf6a2-a1ff-11e7-941e-c75540143f8c.png">

Blocked by map content TBD issue# ? and redpen: htt

[2017-09-25 22:11] edrushka commented on #54
@marcwalsh we've settled on MozFest House logo so need dimensions to complete this.

[2017-09-25 22:28] edrushka commented on #53
@marcwalsh can we have multiple colours??! 😁

[2017-09-25 22:48] edrushka commented on #41
Sabrina and I chatted and agreed:
- English should be on its own (we're thinking A3)
- All other languages can be on individual A4s but knowing we'll likely group these together, we can also put all seven on a single A1.
- Another option that will be more costly but could be really effective along the bathroom walls is a horizontal poster banner with each of the seven languages side by side.
@marc

[2017-09-25 22:51] edrushka commented on #37
All the info is [here.](https://medium.com/mozilla-festival/journalists-activists-hackers-meet-this-years-mozfest-speakers-89018c7d2c97) This is accurate as of Sept 25. Recommend you leave this as late as possible (still meeting print deadline) as things _may_ shift.

[2017-09-26 01:40] sabrinang commented on #52
Progress and feedback has been collected on redpen and we agree that a vertical stacked lockup would work in various applications:
![brand - lockup logo wordmark](https://user-images.githubusercontent.com/2492510/30838472-8bb7b0ba-a220-11e7-98ad-c3f42b77e92a.jpg)

all SVG PNG and working files can be found in gdrive: https://drive.google.com/open?id=0B4Q8pzCpDS_eWkR5Z1Q2T2ZrWG8

[2017-09-26 01:40] #52 closed

[2017-09-26 09:55] lucieclick commented on #21
Hi MozFest House WIFI info is -
Network: RWNET
Password: 1986759

[2017-09-26 11:37] marcwalsh commented on #53
@edrushka @sabrinang - We can indeed - for the same price as well...

💃

[2017-09-27 00:21] sabrinang commented on #21
Content updated, please review content such as schedule link on redpen: https://redpen.io/p/fwd6e45324b8a54452

Files will be updated in gdrive: https://drive.google.com/open?id=0B4Q8pzCpDS_ecy1WdmQwUC1vRFk

[2017-09-27 00:24] sabrinang commented on #45
![preview](https://user-images.githubusercontent.com/2492510/30890040-1ed51612-a2df-11e7-86f2-feaab650ae15.jpg)

PANTONE 2597 CP - purple
PANTONE 102 CP - yellow

[2017-09-27 14:10] beccaklam opened #55 "Social Profile Cards For Each Speaker in Speaker Series"
Create profile cards for each speaker (16 in total) to be included in a package sent to them asking them to promote their talk. Will make using 1200px by 628px template.

[2017-09-27 14:12] beccaklam opened #56 "Social templates for quotes/text in same colours scheme as 6 spaces"
Create templates for quotes/text that are colour coded according to the MozFest spaces.
Link to Mozfest space colours and icons: https://docs.google.com/a/mozilla.com/presentation/d/1aGORKRRTzvVXo19XeBYeOZbDA5QkM-X1vCjNMpcj9Vc/edit?usp=sharing

[2017-09-27 14:23] beccaklam opened #57 "Social Gifs + graphic for announcing the live speaker series"
Create gifs and a social graphic to announce the live speaker series.

[2017-09-27 14:23] beccaklam opened #58 "Social Gifs + graphic for announcing friday night festival"
Create gifs and a graphic for announcing the Friday night festival.

[2017-09-27 14:25] beccaklam opened #59 "Opaque Banner/border for Pictures"
Create an opaque banner/border for pictures shared on social.

[2017-09-27 14:26] beccaklam opened #60 "Snippet Icons For Moz Fest"
Create a snippet to promote MozFest.

[2017-09-27 14:27] beccaklam opened #61 "Cut down promotional video to one minute"
Cut down this [video](https://vimeo.com/205552025/37560e3619) can be cut down to the 1 minute mark.

[2017-09-27 14:30] beccaklam opened #62 "Email headers for each of the 6 spaces"
Create Email headers for each of the 6 MozFest spaces.

[2017-09-27 16:47] sabrinang commented on #10
Closing - refer to issue #60

[2017-09-27 16:47] #10 closed

[2017-09-27 18:08] sabrinang commented on #38
Revised the poster based on #45 lanyard colours and #21 name card id.
<img width="1104" alt="image" src="https://user-images.githubusercontent.com/2492510/30929422-5a73a10e-a373-11e7-8de3-afa7c183e1aa.png">

@edrushka Can you review that the content is ok unchanged from last year? You can leave any content/design feedback on redpen here: https://redpen.io/at274005c111a37461

Working from last year

[2017-09-27 20:24] marcwalsh commented on #54
@sabrinang  - Sorry for the delay this is the artwork for the cups.
[8oz DW Paper Cup Template Xpress Run.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1338606/8oz.DW.Paper.Cup.Template.Xpress.Run.pdf)

[2017-09-27 20:28] marcwalsh commented on #53
**PROOFS ATTACHED BELOW**

Let me know if we're good to go to print with these? 💃

![mozilla foundation - metallic roll up water bottle w12109 - webrandit - artwork approval black](https://user-images.githubusercontent.com/30226684/30936173-eb6402d8-a3ca-11e7-8f78-edfc31f0e4a3.png)

![mozilla foundation - metallic roll up water bottle w12109 - webrandit - artwork approval purple](https://user-imag

[2017-09-27 20:45] beccaklam commented on #55
Redpen for this here: https://redpen.io/p/afd81c048a44b1f919 CC: @tlasadea

[2017-09-27 20:50] edrushka commented on #53
@marcwalsh how many colours are we ordering? Just 2? If so, @sabrinang do we want to do black? People will be able to write their names w/ Sharpie on the other colours. If we can have a rainbow, it will be less necessary to write names on bottles.

[2017-09-27 21:13] xmatthewx opened #63 "Create a sign for Pulse kiosk"
Like last year, we'd like to have a kiosk for Pulse, so attendees can join, add their projects. This year, we should also have profiles for people.

Quantity: 2

@marcwalsh - the sign last year worked fine, though it was tricky to mount. Can you think of way to do it with a stand or easel?

@kristinashu and @sabrinang - can you tag team on this?

[2017-09-27 21:13] sabrinang commented on #50
I made some logo options for the photos:
![rsa-banner-logo](https://user-images.githubusercontent.com/2492510/30932059-391798e6-a37b-11e7-82ac-7f21224698b9.jpg)
![rsa-banner2-logo](https://user-images.githubusercontent.com/2492510/30932058-39146c20-a37b-11e7-8dc9-bd4144e04726.jpg)

![rsa-banner-light2-logo](https://user-images.githubusercontent.com/2492510/30937924-2efae9fa-a38d-11e7-88eb-5239f456

[2017-09-27 21:46] sabrinang commented on #53
I think the webrandit waterbottle includes a frosted white strip (area to write your name) so black won't be an issue? I asked the designers in the office for some feedback and it would be great if we can get black, purple, cyan and yellow.
![waterbottle-mockups](https://user-images.githubusercontent.com/2492510/30939366-0a8e8450-a392-11e7-8f28-df50de3a9754.jpg)

Would this work? @edrushka @marcwa

[2017-09-27 22:06] edrushka commented on #53
works for me if Marc says yes to four colours! Thanks, Sabrina!

[2017-09-27 22:41] marcwalsh commented on #63
@xmatthewx here's a couple of options for you:

[Floor Standing](https://www.pixartprinting.co.uk/displays/point-of-sale-displays/floor-display/)

[Free Standing](https://www.pixartprinting.co.uk/displays/point-of-sale-displays/dover/)

[2017-09-27 23:21] #16 closed

[2017-09-28 07:06] Saallen commented on #50
Looks great @sabrinang - loving the 3rd one!
@lucieclick do we need to get RSA approval here?

[2017-09-28 13:23] cassiemc commented on #43
Design progress is here: https://redpen.io/p/hc4986de6eb6952d0c

@sabrinang @edrushka Two revised cover options, with and without the lines, using the gradient mesh over the photo (I like this direction more than the prior iteration!) – [here without lines](https://redpen.io/sf5645db5c64a64cb1) and [here with lines](https://redpen.io/zxae36ca5307cfcd5e)

[2017-09-28 18:17] beccaklam commented on #55
Finished 16 designs: https://redpen.io/p/afd81c048a44b1f919 @tlasadea

[2017-09-29 14:32] marcwalsh commented on #53
Great! They said previously we can have a mix as the artwork is the same. So will request these. @sabrinang are you happy with the proof above? If so I'll get them ordered!

[2017-09-29 14:33] xmatthewx commented on #63
Interesting. Thanks @marcwalsh. What do you think @kristinashu? Low to the ground, but maybe we could pair it with a smaller simple horizontal sign mounted to the top of the monitor.

[2017-09-29 15:49] sabrinang commented on #21
Note: We need to include a different colour card to signal the difference of Friday only attendees

[2017-09-29 15:54] sabrinang commented on #38
Note: Make a version for MozFest House

The format for this will be a smaller version that is branded mozfest house on registration table (sandwich board style: https://www.pixartprinting.co.uk/displays/point-of-sale-displays/floor-display/)

[2017-09-29 16:02] cassiemc commented on #43
Fixed the covers with the correct lockup. @sabrinang @edrushka https://redpen.io/sf5645db5c64a64cb1 and https://redpen.io/zxae36ca5307cfcd5e

[2017-09-29 16:07] sabrinang commented on #53
Proofs above are good to go! Please double check that the white strip comes with these water bottles (specifically for the black one)

[2017-09-29 16:46] sabrinang opened #64 "MozFest House: Table Cloths"
### Description:
These table cloths might just be a solid colour (black?) if not they will have the house lockup or generic mozilla logo so they are reusable for future events.

__________________________
#### Print Deadline
October 4

[2017-09-29 16:58] sabrinang opened #65 "MozFest House: Generic A4 Poster Signage"
### Description:
Make a pattern/textured pattern that can be thrown in Word and remixed to make letter size posters. This is a generic template to be remixed by Lucie and Marc.
__________________________
#### Print Deadline
These may be done on site

[2017-09-29 17:06] sabrinang opened #66 "MozFest House: Branded Pillar Totems"
### Description:
Incorporate colour and house lockup to bring in some branding in to the space.

(size approximately 45” in diameter but the base which is square is 19”x19”)

### Format
https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3-xl/
__________________________
#### Print Deadline
October 3

[2017-09-29 17:11] sabrinang opened #67 "MozFest House: Main Entrance Screen"
### Description:
On the spreadsheet someone noted: "Screen in main entrance (for Saturday only) - we can put slides or video on the screens, however this will only appear on one screen not all three.  If we want something on all x3 screens it can only be a static picture."
__________________________
#### Deadline
October ?

[2017-09-29 17:14] sabrinang opened #68 "MozFest House: Wristbands"
### Description:
Choose a colour. The rest can just be the house lockup or typed out with Zilla Slab.

### Supplier
https://www.aawristbands.co.uk/?gclid=CM-E94WWk9YCFU-17QodWvYGUw
__________________________
#### Print Deadline
October 12

[2017-09-29 17:26] sabrinang commented on #41
Note: Make a version for MozFest House

The format for this will be a smaller version that is branded mozfest house on registration table (sandwich board style: https://www.pixartprinting.co.uk/displays/point-of-sale-displays/floor-display/)

@edrushka Will this be in English only for MozFest House or all?

[2017-09-29 17:42] edrushka commented on #41
English only for MozFest House. We are not localizing any of the House assets this year 😌

[2017-09-29 20:20] sabrinang commented on #54
![coffee cup preview](https://user-images.githubusercontent.com/2492510/31034357-929db79e-a518-11e7-9dee-5c840fa40109.jpg)
<img width="1003" alt="coffee cup preview" src="https://user-images.githubusercontent.com/2492510/31034338-8285e6ec-a518-11e7-90ee-cafec4564fa4.png">

.pdf is here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eM2htMmZVR3BTN1E/view?usp=sharing
.ai file is availabl

[2017-09-29 21:58] sabrinang commented on #13
@natalieworth and I outlined content in this google doc: https://docs.google.com/a/mozilla.com/document/d/1onZKZsAwrS73qyDPiAeiT1jDcTBVXBjFfynxySBxGTs/edit?usp=sharing

[2017-10-01 10:31] tad124737337 commented on #42
@sabrinang sounds great! :)
I like the royal blue

[2017-10-01 16:35] lucieclick opened #69 "MozFest House Banner"
Reviewing a quote for design, print and installation of banner for the window of MozFest house cafe space. Once quote approved, I'll send design ideas.

[2017-10-02 14:45] beccaklam commented on #56
Quote Templates: https://redpen.io/p/uxb50bbefd6b571957 @tlasadea

[2017-10-02 19:24] sabrinang commented on #62
@edrushka Do you know what we use to send out our Festival emails and what dimensions these email headers should be?

[2017-10-02 20:21] edrushka commented on #62
We send out festival emails using ti.to - I can get the exact information about banner size.
@beccaklam can you clarify:
- by header, do you mean banner image?
- what the headers will be used for? We won't be sending any space-specific emails.

[2017-10-02 20:26] beccaklam commented on #62
@tlasadea ^ do you know what the email headers will be used for? Re: #9 in this brief: https://docs.google.com/a/mozilla.com/document/d/1iU1KLFgWHFBWWZCzd3KIU5cr09PCtD80kHgDhJ23goM/edit?usp=sharing

[2017-10-02 20:28] edrushka commented on #62
Oh, if these came from the advocacy mini-brief then the Ti.To information doesn't apply - we only use it to send festival emails. Not sure what platform is used to send advocacy emails.

[2017-10-02 21:34] sabrinang commented on #41
WIP (in progress resolving HI copy/paste issues) redpen iteration of A3 (EN) and A4 (all languages) versions: https://redpen.io/p/st123a285766334577

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/2492510/31100600-f3e90662-a77e-11e7-8deb-93acefe1f5d3.png">

[2017-10-02 22:10] edrushka commented on #24
Please make a "my pronouns" sticker using this same template.
Colours should work for both MozFest and MozFest House namecards.
No little man. Text is: My pronouns:

[2017-10-02 22:14] edrushka commented on #69
Just a note confirming Lucie will find a contractor to design this.

[2017-10-02 22:24] edrushka commented on #13
Also, link to Sam B.'s forthcoming Attitudes About Internet Health report
@KevZawacki @Lottarao do you have an ETA for this link? We'll be finalizing these slides on Oct 13.

[2017-10-02 22:25] edrushka commented on #13
Also, lunch times for each day. Both days lunch is from 12:00 - 2:00

[2017-10-02 22:49] sabrinang opened #70 "Registration Table: Understand Me Better Cards"
At the Youth & Press & Accessibility registration table, there will be "Understand Me Better" cards the size of business cards for people to use to hand out when communication is difficult

[2017-10-03 00:08] edrushka commented on #41
@TheoChevalier localized Participation Guideline posters are ready for QA here: https://redpen.io/p/st123a285766334577

[2017-10-03 00:43] edrushka commented on #38
R+ content has not changed from last year and design looks good.

[2017-10-03 02:27] cassiemc commented on #32
@edrushka @sabrinang Should I be using this design for the map insert in the festival guide? To add, the dependency here is that I would like to finalize the map insert alongside submitting the cover artwork – due Thursday p.m. – as I want to make sure the pocket and other dimensions are all working together precisely.

[2017-10-03 03:02] cassiemc opened #71 "Design Festival Guide Cover"
Making a separate bug for this as it has to be completed first (I think!).
Repen progress so far is here: https://redpen.io/cs1cf056abdd34abab

R? @sabrinang @edrushka Can you guys please review this and loop in others as needed?

Looking specifically at the front cover, the back cover (participation guidelines), the pocket and the accompanying message, as well as how the map slots into the pocket

[2017-10-03 10:30] marcwalsh commented on #66
After talking to Lucie and Sarah yesterday we now required:

- 2x [Totem 3 XL](https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3-xl/)
- 8x [Totem 3](https://www.pixartprinting.co.uk/displays/point-of-sale-displays/totem-3)

This will the same design - Sarah and Lucie mentioned it would be good to have the same background as the cups. As they are looking at something similar

[2017-10-03 10:56] tlasadea commented on #62
Hey @beccaklam these were for e-mails that would be going out post moz-Fest
& used in the Medium blog.

[2017-10-03 12:55] cassiemc commented on #71
The printer said they don't do braille, but I wondered if braille stickers were a thing, and, they are! https://www.pia.co.uk/en/services/braille-labels @marcwalsh This would be pretty sweet, what do you think?

[2017-10-03 13:35] KevZawacki commented on #13
@edrushka I've just asked Sam B. what the URL will be. Update to come...

[2017-10-03 16:35] sabrinang commented on #41
HI design updated https://redpen.io/p/st123a285766334577 and ready for l10n review @edrushka

[2017-10-03 19:44] sabrinang commented on #32
@cassiemc It would be the MozFest Site Map (the overview of all floors) design that will be in the insert for the festival guide - I have not yet revised each floor map yet (I just updated type/icons in the above example so I'd be ready to update when when content is complete). You can design the format the map insert for the festival guide like the tab that sticks out and the back of the map if i

[2017-10-03 20:01] edrushka commented on #71
Although I love the braille stickers, we don't have the capacity to stick 2500 onto booklets. I think we'll have to pass if the printer can't incorporate on the last page 😞

Next year, if we have a pocket, let's look at inserting a braille postcard w/ lots of information.

[2017-10-03 20:08] edrushka commented on #32
@marcwalsh do you know when content for map will be complete? My understanding is that you and Esme own this piece. Please let me know ASAP if I'm mistaken.

[2017-10-03 20:19] beccaklam commented on #57
@tlasadea @natalieworth https://redpen.io/rd0391487040ea6a62 <-- Work In Progress, but feedback welcome. I need to fix the timing and the animation curves, but any other thoughts?

[2017-10-03 21:11] sabrinang commented on #54
@edrushka mentioned this has been sent to print - closing!

[2017-10-03 21:11] #54 closed

[2017-10-03 21:11] edrushka commented on #71
@marcwalsh also confirming that these maps are printed separately from the Festival Guide, and will not be inserted, but rather will be available on the swag table for people to take as they please.

[2017-10-03 21:19] edrushka commented on #70
@marcwalsh is figuring out where to print these since we don't need many. Likely we'll design something very simple and use the extras next year.

[2017-10-03 21:24] edrushka commented on #70
Side A: Understand me better
Side B:
I am _________________
You can help me by ____________________

These should be very simply designed (w/plan to reuse for next year)

we'll have a hole punch available where we pass out these cards for people to optionally attach to their lanyards

[2017-10-03 21:48] natalieworth commented on #57
@beccaklam really awesome! maybe the 'mozfest speaker series' part could be a bit larger as it'll probably appear small on social. I'd bump the saturation/ contrast up a little too so the colours are more punchy.

[2017-10-03 21:52] marcwalsh commented on #32
@edrushka @sabrinang  - Icon content is correct in the red pen. The blocker is the spaces and where they will be positioned. I think we're going over this in the next couple of days.

[2017-10-03 21:53] marcwalsh commented on #63
@xmatthewx @kristinashu - Just so you're aware the print deadline for the stands would be around the 10th October.

[2017-10-03 21:55] marcwalsh commented on #71
@edrushka - These will be printed separately and available on the Swag / Rego tables.

[2017-10-03 21:58] marcwalsh commented on #70
@sabrinang - Link to the product is [here](https://www.pixartprinting.co.uk/business-cards/eco-friendly-business-cards/) - This requires roughly a 10-day turnaround.

Sizing is up to you. I'd say the 9cm x 5cm is quite nice.

Price wise it makes sense to go for the 250 print run and reuse, as we'd be paying a similar price for a smaller quantity.

[2017-10-03 22:19] natalieworth commented on #13
Hey @sabrinang @edrushka I've got a super rough draft/ low-res version of the screen vid here: https://drive.google.com/drive/folders/0B20-0lpP23c0LVJGWmIyX1JTUUU?usp=sharing

There's no animation, transitions, design, etc. yet. It's more just to figure out the content and what is needed still, but feel free to add or leave feedback if I've missed anything:
P1
- [x] finalize content by October 13

[2017-10-04 00:27] edrushka commented on #70
Based on the [Dyslexia association guidelines](http://www.bdadyslexia.org.uk/common/ckeditor/filemanager/userfiles/About_Us/policies/Dyslexia_Style_Guide.pdf), I suggest 12-14pt plain font (they actually recommend Comic Sans - I DARE YOU, SABRINA 😆) with a small MozFest lockup on the front (without the year, so we can reuse).

[2017-10-04 00:34] edrushka commented on #13
Ohhh lovely! 🌷 May I suggest as a P2 replacing the words "email" and "call" on the participation guidelines slide with icons? It feels like a lot of text on that slide.

Also, as P1, please add a slide that says:   Lunch 12:00-2:00

@marcwalsh do you have lunch locations confirmed, and also tagging you so you can see these slides in progress!

[2017-10-04 09:46] tlasadea commented on #57
@beccaklam commented on Redpen, but you smashed it. Love.

Agree with @natalieworth on increasing text size.

[2017-10-04 15:43] sabrinang commented on #36
@edrushka Can you review this content and submit this l10n poster for content review as well? https://redpen.io/ufbe29f9afa00df975
<img width="360" alt="image" src="https://user-images.githubusercontent.com/2492510/31185127-0dc3855a-a8e0-11e7-9415-f49105f8da78.png">

[2017-10-04 18:10] sabrinang commented on #66
@edrushka Can you give me some design feedback on lockup placement on these totem designs? (one is regular size and the other is XL) https://redpen.io/p/fu55d9c7167e519040
<img width="1391" alt="image" src="https://user-images.githubusercontent.com/2492510/31191984-c0fa892a-a8f4-11e7-8b0c-c3f9f134ecb8.png">

[2017-10-04 18:20] cassiemc commented on #71
@edrushka @sabrinang Needs final review: https://redpen.io/cs1cf056abdd34abab

[2017-10-04 19:01] beccaklam commented on #58
@tlasadea https://redpen.io/gr846385e57c7c9e1f

[2017-10-04 19:30] edrushka commented on #66
I commented in the redpen 🐍

[2017-10-04 20:11] edrushka commented on #66
hi @sabrinang I shared with Sarah and here is more feedback:
Please use the larger vertical lockup. It can either be repeated 3x on all sides, or at minimum on the center panel.

I assume flipping the entire lockup on its side to make it extra big is not possible.

[2017-10-04 21:37] sabrinang commented on #42
@edrushka  I’m finalizing these t-shirts can you design review??
Mozilla Festival Volunteer Shirt: https://redpen.io/fg78b930420def5ec8
Mozilla Festival House Volunteer Shirt (I believe we are doing front print only): https://redpen.io/rmb5ffa2b16fe016b0

[2017-10-04 21:56] edrushka commented on #42
Done. @Saallen pls review.

[2017-10-04 22:06] sabrinang commented on #66
@edrushka I tried flipping it previously on the side but did not include since it makes reading it strange on a large totem so I don't like it - see comparison example:
<img width="430" alt="image" src="https://user-images.githubusercontent.com/2492510/31201287-0c6a7fb4-a913-11e7-98df-a0da7e21036a.png">

Thanks for the feedback, I updated the redpen with the skinnier totem with all vertical lockup

[2017-10-04 22:18] edrushka commented on #66
Oh jeez, yah, the flipped version looks super weird 😖

[2017-10-04 22:24] sabrinang commented on #66
@marcwalsh Both Totem 3 and Totem 3 XL files (.pdf and .ai) can be found here on google drive and ready to print: https://drive.google.com/open?id=0B4Q8pzCpDS_ecmFEM3dyZjlqdFE
<img width="1248" alt="image" src="https://user-images.githubusercontent.com/2492510/31202557-f2118f4a-a917-11e7-8a96-b90d85cda12d.png">

[2017-10-05 11:12] TheoChevalier commented on #24
I wonder if having the “speaking icon” after the language name could be confusing. Seeing “Français” alone, I have more the impression that it means I’m French, and not that I speak French.

One could understand it as the spoken language info is only on the second line and the first line is about nationality.

[2017-10-05 14:33] marcwalsh commented on #66
Sent to Print! :D ETA - 16th October

[2017-10-05 14:33] #66 closed

[2017-10-05 17:35] beccaklam commented on #59
@tlasadea https://redpen.io/p/mudc43cb433441b2b1 would this work? @sabrinang can we use the logo this way, with a gradient applied on top?

[2017-10-05 17:51] beccaklam commented on #62
@tlasadea Not sure what exactly you were looking for so let me know if you need any changes: https://redpen.io/p/hbfa5ea5df1c42d9ac

[2017-10-05 18:00] sabrinang commented on #38
@edrushka I'm just working on exporting the mozfest house version and realized that the content of text needs to be different since it mentions specific Ravensbourne places for video do you have this content?
<img width="792" alt="image" src="https://user-images.githubusercontent.com/2492510/31242568-4d42bd68-a9bc-11e7-87f7-bc91bff2ae5d.png">

[2017-10-05 18:28] edrushka commented on #38
Good catch @sabrinang!! 👀  @Saallen @lucieclick @marcwalsh please let us know what RSA/House text should be.

[2017-10-05 18:44] sabrinang commented on #59
@beccaklam I would avoid using gradients on the logo since it includes mozilla in it I have been following these variants:
<img width="776" alt="image" src="https://user-images.githubusercontent.com/2492510/31246512-7d498f18-a9c2-11e7-9e5c-bbdd8220250a.png">

[2017-10-05 18:51] lucieclick commented on #38
Hi - as far as I'm aware no sessions are being videoed but to cover us we could put the below and keep it more generic?

"Some stage activity in the Great Room might be captured on video. If you do not wish to be filmed, please sit at the back of this space"

Then at the bottom
'Please visit the Welcome Desk for further information"

@marcwalsh @Saallen what do you think?

[2017-10-05 19:04] edrushka commented on #24
Please add the "I speak" back to the top of these stickers. thank you.

[2017-10-05 19:16] edrushka commented on #26
Since we're tight on QA time, recommendations for the localized welcome sign:
- avoid languages (except zh-TW and hi-IN because you know the fonts) that don't use Latin alphabet
- if you have a font for Arabic, that one is ok because Theo can quickly get it reviewed
- avoid Slavic languages as there can be font issues with those

[2017-10-05 20:41] KevZawacki commented on #13
@edrushka The link to Sam B.'s forthcoming Attitudes About Internet Health report will be https://mzl.la/attitudes

[2017-10-05 20:46] edrushka commented on #13
Lunch locations have been confirmed: Ground Floor, 4th Floor, 7th Floor

If you want to make a slide about coffee locations (P2) it will be served in the Walker Space on the Ground Floor, Floor 5 and Floor 9

[2017-10-05 21:18] beccaklam commented on #60
@tlasadea @sabrinang https://redpen.io/p/yr1b78b9067965475b

[2017-10-05 22:53] sabrinang commented on #26
I used the language from https://transvision.mozfr.org/string/?entity=mobile/android/base/android_strings.dtd:firstrun_panel_title_welcome&repo=central to use welcome in other languages in the background similar to last year:
<img width="1266" alt="image" src="https://user-images.githubusercontent.com/2492510/31255957-82105a14-a9e4-11e7-95f4-7637634d466a.png">

@edrushka I removed languages that d

[2017-10-05 23:11] edrushka commented on #26
Ah ok! I wasn't sure if you'd started on this. I definitely don't want you to redo work and we didn't get any complaints about the 2016 poster so disregard my previous comments.

@TheoChevalier do we need to QA this if Sabrina used the firefox strings and no one pointed out errors on last year's poster?

[2017-10-05 23:14] marcwalsh commented on #53
Sent to printers! We're getting all 4 colours! 🌈

[2017-10-05 23:14] #53 closed

[2017-10-05 23:14] sabrinang commented on #24
@edrushka When I am adding "I speak" is it in english or is it using its own language?
<img width="749" alt="image" src="https://user-images.githubusercontent.com/2492510/31256506-d035abb0-a9e7-11e7-9ecc-84cc36df668b.png">

[2017-10-05 23:16] sabrinang commented on #26
The 2016 poster was really small but last year I just used a random source since it was a last minute addition last year though but I doubt anyone looked closely at it but this year I used the transvision source that Theo provided this year

[2017-10-05 23:41] edrushka commented on #24
Oh, if we have it localized, let's go with that!

[2017-10-06 10:18] Saallen commented on #38
Perfect Lucie
However Erika will you be contracting Dosed to do something on Thursday or
Friday?

On 5 Oct 2017 19:51, "lucieclick" <notifications@github.com> wrote:

[2017-10-06 12:35] marcwalsh commented on #45
Sent to Printers!! 👯‍♂️

[2017-10-06 12:35] #45 closed

[2017-10-06 12:59] beccaklam commented on #59
@sabrinang thanks for the flag! I'll make changes :)

[2017-10-06 13:50] beccaklam commented on #59
@tlasadea @sabrinang Updated to black and white logo here: https://redpen.io/p/mudc43cb433441b2b1 It's not that exciting ... but clean and to the point?

[2017-10-06 14:12] tlasadea commented on #55
These are approved @beccaklam

[2017-10-06 14:14] tlasadea commented on #59
@HPaulJohnson please feedback on this redpen: https://redpen.io/p/mudc43cb433441b2b1

[2017-10-06 14:16] tlasadea commented on #57
@HPaulJohnson please feedback: https://redpen.io/rd0391487040ea6a62

[2017-10-06 14:16] tlasadea commented on #60
@HPaulJohnson please feedback: https://redpen.io/p/yr1b78b9067965475b

[2017-10-06 14:55] beccaklam commented on #58
@tlasadea updated party time gif: https://redpen.io/jg51cb652cebf04797

[2017-10-06 15:15] edrushka commented on #38
Not sure. Temi isn't meeting w/Dosed until next week. I don't know Dosed's schedule so can't say what day they'll be at the RSA. We can specify that they just shoot staff/volunteers/the building/the back of people's heads for the pre-week if required.  cc @tlasadea

[2017-10-06 16:08] tlasadea commented on #38
@erika @sabrinang @lucieclick When I speak to Dosed I'll ask them if they have time to shoot anything on Thursday/Friday, and if so what that cost will be. It may be that we don't need it depending on the vision for the promo video 2018 - but think the copy that was suggested is above should suffice!

[2017-10-06 16:14] sabrinang commented on #36
note to self: double check with translations before exporting.

[2017-10-06 16:17] Saallen commented on #42
Hey the volunteers in MozFest house will all be boys-and I think they might not like the pink- is there another option? @sabrinang

[2017-10-06 16:20] edrushka commented on #38
Final copy suggestions:
- first paragraph keep the same
- second paragraph:
Please be aware that cameras maybe be present throughout the venue during the week. If you do not wish to be filmed, we advise you to clearly display your yellow lanyard and not sit in the front row.
- third paragraph
Please visit the welcome desk for further information.

[2017-10-06 16:32] marcwalsh commented on #42
@Saallen - We just talked in the design catch up and the colour scheme for the pink and orange is the colour scheme. So the pink tshirts and the orange name cards match this. :)

[2017-10-06 16:33] marcwalsh commented on #42
I also love pink <3

[2017-10-06 17:01] tad124737337 commented on #42
The pink looks really good for this!!

[2017-10-06 17:17] Saallen commented on #42
If the ppl wearing the tee shirts are happy to wear pink - then fine by me
@TomFarrow are you ok with the colour of the MozFest house teeshirt?

[2017-10-06 18:11] Saallen commented on #42
cool- @TomFarrow  seems in agreement- go for it

[2017-10-06 18:37] tad124737337 commented on #42
Yes!!!!

[2017-10-06 19:32] sabrinang commented on #44
Thread-bound notebooks from Pixart: https://www.pixartprinting.co.uk/digital-litho-printing/office-products/customised-notebook/

The A6 template is on the page or you can download directly here (.ai/.eps/.psd): [717_388_8392.zip](https://github.com/MozillaFoundation/mozfest-design-2017/files/1363715/717_388_8392.zip)

Full color print on the outside and 90gsm ivory paper on the inside with 60 pag

[2017-10-06 20:48] sabrinang commented on #42
Redpen updated with final design: https://redpen.io/fa4f20de66852a74ab

![mozilla festival house volunteer shirts](https://user-images.githubusercontent.com/2492510/31297862-7a9dbef8-aa9c-11e7-9add-cb8a0375c38a.jpg)

T-Shirt colours: Antique Heliconia & Antique Jade Dome
<img width="141" alt="image" src="https://user-images.githubusercontent.com/2492510/31297930-b76713c0-aa9c-11e7-904a-875f1d1a9e1

[2017-10-06 20:48] sabrinang commented on #42
@marcwalsh this is ready for print!

[2017-10-06 21:34] sabrinang commented on #24
Customization stickers updated on redpen: https://redpen.io/fw0472330f261739a6
<img width="821" alt="image" src="https://user-images.githubusercontent.com/2492510/31299454-5a2646b6-aaa3-11e7-86f5-6d0c0f313841.png">
@edrushka  Can you review content/design?

[2017-10-06 21:44] TheoChevalier commented on #24
@sabrinang Small detail, but could you update the language name with the same capitalization as in the translation? E.g français vs. Français

I think it will help even more to make the distinction between citizenship and language. Example in French:

Le français = the French language
Le Français = the French citizen

Previously it was technically the first and unique word of the sentence, so usin

[2017-10-06 21:48] edrushka commented on #24
R+ on design
I've asked viki  and Mavis on Slack to review the Hindi and Chinese stickers.

[2017-10-07 10:30] Saallen commented on #38
one edit on:
Please be aware that cameras maybe be present throughout the venue during the week. If you do not wish to be filmed, we advise you to clearly display your yellow lanyard and not sit in the front row.

[2017-10-10 02:37] sabrinang commented on #68
![mozilla-festival-house-2017_wristbands](https://user-images.githubusercontent.com/2492510/31366795-e4456120-ad27-11e7-9212-16339ed7f61b.jpg)
I highlighted 7 colours and the settings for the wristbands (1", Logo Left of Text and if there is two lines of text to use Arial Black medium and Arial small). If there is just one line of text then just Arial Black works.

Here is the Mozilla Festival Hou

[2017-10-10 02:42] sabrinang commented on #44
Cassie's redpen iterations here: https://redpen.io/p/pgca50618af5405c72

[2017-10-10 03:14] sabrinang commented on #21
@edrushka Please review content/design of all 3 name cards - Redpen is updated with different colour Friday Only name card ID: https://redpen.io/p/fwd6e45324b8a54452

[2017-10-10 03:20] sabrinang commented on #68
@edrushka Can you review if these design settings are appropriate for whatever text content is including on these bands?

[2017-10-10 03:40] sabrinang commented on #64
@marcwalsh Does the table cloth have a template? I assumed we are just putting the logo or lockup on black so mocked up the two options:
![mozilla-festival-house-2017_table-cloth](https://user-images.githubusercontent.com/2492510/31368288-af451100-ad31-11e7-9156-7494075fb412.jpg)

white mozilla only logo files here: https://mozilla.ninja/s/Mozilla_Large-Logo_One-color-white.zip
white mozilla festi

[2017-10-10 04:06] sabrinang commented on #65
@marcwalsh For these signage templates, instead of using Word, I think using Google Slides would be more accessible to make your own signs. Template here: https://docs.google.com/presentation/d/14IT387tx_AlvaXy7Ex28p2GRlBkx_qMmtKcnANGaLpg/edit?usp=sharing

Just go to _**File > Make a copy...**_ to create your own set of signs and please use Zilla Slab seen on the placeholder text then you can _**F

[2017-10-10 04:57] sabrinang commented on #67
We can use a background for the static screen but I don't have the dimensions and used 1440x900 by default:
![mozilla-festival-house-2017_screen](https://user-images.githubusercontent.com/2492510/31369534-09bc0636-ad3a-11e7-8a0d-85251dd319fd.jpg)
.ai/.jpg here: https://drive.google.com/open?id=0B4Q8pzCpDS_eaDdqT29iZGdMemc
or we can use any of the rsa hero banner images:
<img width="1173" alt="imag

[2017-10-10 06:21] sabrinang commented on #24
@TheoChevalier Thank you for review! I updated the redpen so the capitalization follows the dashboard: https://redpen.io/fw0472330f261739a6

@edrushka Can this be sent to print?

[2017-10-10 07:39] sabrinang commented on #41
ES and ZH-TW has been revised on redpen: https://redpen.io/p/st123a285766334577

@edrushka Can you let me know when the l10n review is finished so we can prepare for print?

[2017-10-10 09:47] marcwalsh commented on #44
@sabrinang @cassiemc - Let's go for A5!

[**Templates and Instructions**](https://github.com/MozillaFoundation/mozfest-design-2017/files/1371356/QFS_D_A5.zip) are attached here.

**There is also a choice of thread colours:**
<img width="680" alt="screen shot 2017-10-10 at 10 47 41" src="https://user-images.githubusercontent.com/30226684/31380190-85ef0c80-ada8-11e7-935e-bb070f72bb29.png">

[2017-10-10 12:47] marcwalsh commented on #65
@sabrinang - Slides works perfectly!

We also need a portrait version of these, please.

In terms of design, can the borders be made thicker? I've attached a photo from Lucie that shows the type of frame they are being put into and the borders might be lost. You might lose up to an inch around the page judging by the image.

![00fdf177-149e-4d2f-923b-dcf99ab58d43_720](https://user-images.githubuse

[2017-10-10 14:14] tlasadea opened #72 "MozFest Summary Creative for Social"
Create a summary graphic for MozFest

[2017-10-10 14:15] tlasadea commented on #72
#8

[2017-10-10 14:16] tlasadea commented on #72
As per ticket #8

[2017-10-10 14:21] tlasadea commented on #62
Hey @edrushka just to clarify - all the content @beccaklam is designing for social is for the entire festival promo, not just advocacy specific. The email headers are banners as you mentioned above - but if there won't be any space-specific emails these can be used for any blog content that is published post-Mozfest. Thanks @beccaklam, these look ace, have left feedback on Redpen.

[2017-10-10 15:06] tlasadea commented on #72
@beccaklam copy [here](https://docs.google.com/document/d/1zq3TGpBGM25oLjFHD36emwlQHohAGVW0wr7Lb5X1oSc/edit), guide example [here](https://twitter.com/adyleefloyd/status/843804981065138177) (but obvi do whatever is best/in-line with other graphics)

[2017-10-10 16:33] sabrinang commented on #32
content ready on redpen: https://redpen.io/p/xf4cd10e88113df8d7

[2017-10-10 17:20] kristinashu commented on #63
@sabrinang @xmatthewx will something like this work? It's the smaller floor stand option.

<img width="519" alt="screen shot 2017-10-10 at 3 03 13 pm" src="https://user-images.githubusercontent.com/1068783/31413033-5ddd102e-adcc-11e7-86d1-aad52c5bb46f.png">

<img width="323" alt="screen shot 2017-10-10 at 10 19 46 am" src="https://user-images.githubusercontent.com/1068783/31400459-8fbcb360-ada4-11

[2017-10-10 18:08] flukeout opened #73 "Printing Info Request - A2 size poster."
Hello, I'd like to get some posters printed for the Web Literacy Space. 10 pieces at A3 size. Design is something like...

<img src="https://user-images.githubusercontent.com/25212/31402561-2ea9fefa-adab-11e7-8da3-b1d884c5cfba.png" width="350" />

Is it possible to add this to the print queue somehow? And if so...

* What are the deadlines?
* Any special requirements?
* How do we account for the c

[2017-10-10 18:28] kristinashu commented on #63
The floor stand actually seems large. @sabrinang @marcwalsh are we able to print this on two A2 cardboard pieces and then tape them together to make an A frame? I think we did this a bit last year.

[2017-10-10 18:51] edrushka commented on #21
✅  MozFest front: R+ content and design
 🔺 MozFest back: made some notes on content
✅ House front: R+ content and design
✅ House back: R+ content and design
✅Friday front: R+ content and design
🔺Friday back: need to replace/remove coffee

[2017-10-10 18:56] edrushka commented on #68
Design looks good so far. @Saallen @lucieclick do you want to print individual event names on the actual bands? IMO this isn't necessary, and we can simply assign each event a unique colour.

[2017-10-10 18:58] edrushka commented on #67
@lucieclick do you want this to say "welcome" or anything, or is it fine with just the wordmark?

[2017-10-10 20:19] sabrinang commented on #21
Thanks for the review @edrushka

Redpen is updated with changes: https://redpen.io/p/fwd6e45324b8a54452
.pdfs exported here with bleeds: https://drive.google.com/open?id=0B4Q8pzCpDS_eaGVLSVBua1o5a1k

Is this ready for print now?

[2017-10-10 22:18] Saallen commented on #68
For major events we do like
View source
MisInfoCon
Open News

the rest will be signified with colours-
cc @lucieclick

[2017-10-10 23:28] edrushka commented on #41
If there are no other comments on the redpen let's go to print cc @TheoChevalier

[2017-10-10 23:30] edrushka commented on #65
R+ on horizontal version of template.

[2017-10-10 23:30] TheoChevalier commented on #41
Everything looks good on my side 👍

[2017-10-10 23:34] edrushka commented on #21
I'm ready to send this to print but @marcwalsh can you please do one final check of the back of lanyard content (wifi info, lunch and coffee locations and emergency phone number) before you send to printers.

cc @Saallen

[2017-10-10 23:40] edrushka commented on #68
@sabrinang can you please mock up 4 bands
- 1 plain (house lockup only)
- 1 (different colour) with lockup and **MisinfoCon** (one line only, don't need the second additional line of text)
- 1 (different colour) with lockup and **View Source** (one line only, don't need the second additional line of text)
- 1 (different colour) with lockup and **OpenNews Unconference on Journalism Tech** (can spli

[2017-10-10 23:43] sabrinang commented on #38
Copy has been updated for Mozilla Festival House poster: https://redpen.io/p/xrcc964c0113b22f73

Print .pdfs here (A1, A2, A3): https://drive.google.com/open?id=0B4Q8pzCpDS_eTmgzWXQ2ODVkQlk

@edrushka Can you give a final design/content review?

[2017-10-11 00:14] edrushka commented on #38
~~R+ on house poster design and content!~~

[2017-10-11 00:16] edrushka commented on #38
Dang it! Right after I wrote that I found a typo that is Sarah and I's fault. Sorry. Noted it in the redpen.

[2017-10-11 04:38] sabrinang commented on #23
Space stickers redpen updated: https://redpen.io/dxa2ba7565ab94ab6a
Gdrive folder: https://drive.google.com/open?id=0B4Q8pzCpDS_eanBoNDVaOXc4OVk

Mozfest / web for all lockup stickers redpen updated: https://redpen.io/rpc05ea3aca6dbbb22
Gdrive folder: https://drive.google.com/open?id=0B4Q8pzCpDS_eZGZTakRTVmF6X2c

@edrushka Content/design review for these sticker sets?

[2017-10-11 04:39] sabrinang commented on #31
Redpen updated: https://redpen.io/xh1f6847f0f69186dc
Gdrive folder: https://drive.google.com/open?id=0B4Q8pzCpDS_eOF9OUTYwcnVjZEE

Floor Stickers on 1.48m x 5m format.

**Quantities:**
- 1x large mozilla festival lockup
- 1x large web for all
- 4x large arrows
- 2x large dialogue & debates
- 2x floor numbers (m-9)
- 12x side arrow
- 12x diagonal arrow
- 2x space icons + gear (7 types)
- 2x dialogu

[2017-10-11 09:43] Saallen commented on #68
For major events we do like
View source
MisInfoCon
Open News

the rest will be signified with colours-
cc @lucieclick

[2017-10-11 10:26] lucieclick commented on #68
Hi - yes for the larger events, and some of the others like Netgain I'd previously asked them what they'd like on their wristbands so if possible I'd like to do this?
They are all on here  https://docs.google.com/spreadsheets/d/1_FEF2gn-6YMl0YwV4wMCrXs--GcDidug7YXCqxPwOXU/edit#gid=295064791- those that say "MozFest" are the ones that can be the generic. Is that OK @Saallen @edrushka ?

[2017-10-11 12:50] marcwalsh commented on #42
Sent to Printers:

House - ETA: 19th October
Festival - ETA: 24th October

[2017-10-11 12:50] #42 closed

[2017-10-11 13:58] tlasadea opened #74 "Influencer Infographic"
Create a "guide to MozFest 2017" infographic that can be easily shared on social with influencers.

@edrushka @Saallen would be amazing if you could sense [check this content](https://docs.google.com/a/mozilla.com/document/d/1Nve4rAgxLejxZM2DIJBVeUHtcYX0QYNlev62UILKLsE/edit?usp=sharing) to ensure the messaging is on brand/appropriate. I pulled everything from MozillaFestival.com & the MozFest Hous

[2017-10-11 14:38] beccaklam commented on #72
@tlasadea https://redpen.io/uv76e7b1a4edb65678

[2017-10-11 15:59] beccaklam commented on #61
@tlasadea will this work? https://drive.google.com/open?id=0BzuBOR2VJQqUamdCaXdFcVp2TE0

[2017-10-11 16:49] edrushka commented on #68
@lucieclick can you open permissions on that doc please.

[2017-10-11 17:03] edrushka commented on #68
@sabrinang It looks like we need 8 custom bands:

1. BBC Adaptive Narratives	(band colour: blue)
2. MisInfocon	(band colour: yellow)
3. View Source	 (band colour: blue)
4. Netgain (band colour: unspecified)
5. @moztechspeakers	 (band colour: unspecified)
6. Open News	 (band colour: unspecified)
7. Databox HackDay		 (band colour: unspecified)
8. Cities of Learning	 (band colour: unspecified)

[2017-10-11 17:18] sabrinang commented on #38
Typo corrected from "maybe be" to "may be": https://redpen.io/okb10313a99caa788c and print .pdfs updated (A1, A2, A3): https://drive.google.com/open?id=0B4Q8pzCpDS_eTmgzWXQ2ODVkQlk

@edrushka Can you review?

[2017-10-11 17:26] edrushka commented on #38
R+ for real. Thanks for fixing.

[2017-10-11 17:35] xmatthewx commented on #63
@marcwalsh - can we order 4 dowel rods? maybe 1cm x 1m or similar? i think this will help with mounting this sign above kiosk throughout weekend.

we can do two A2 on cardboard as an A frame as kristina's suggests during sci fair and demos.

[2017-10-11 17:55] sabrinang commented on #41
Thank you for the reviews!

.pdfs on Gdrive folder (MozFest A3, MozFest House A3 and MozFest all languages A4): https://drive.google.com/open?id=0B4Q8pzCpDS_eMEhYZEN5WGYwc1E

@marcwalsh These are ready for print

[2017-10-11 17:58] sabrinang commented on #38
Print .pdfs (A1, A2, A3) here: https://drive.google.com/open?id=0B4Q8pzCpDS_eTmgzWXQ2ODVkQlk

@marcwalsh These are ready for print

[2017-10-11 18:28] sabrinang commented on #20
Schedule app branding is live - closing ticket!
<img width="971" alt="image" src="https://user-images.githubusercontent.com/2492510/31459112-0997ba4a-ae77-11e7-9558-b63986865088.png">

[2017-10-11 18:28] #20 closed

[2017-10-11 18:40] sabrinang commented on #18
Sticker concepts are complete, this year we have:
- mozilla festival 2017 lockup stickers #23
- web for all tagline stickers (2 designs) #23
- space stickers (6 designs) #23
- name card customization stickers (pronoun + I speak [blank] + 7 languages) #24
- floor stickers #31
Seen on https://redpen.io/p/ka33b44c1567fe7db5

Stickermule has also made us webcam blocker stickers too!

[2017-10-11 18:40] #18 closed

[2017-10-11 18:56] edrushka commented on #31
Dialogues is plural - I noted this both places in the redpen. Everything else looks good.

[2017-10-11 19:05] edrushka commented on #23
✅ Space Stickers R+
✅Lockup
🔺 Web for all - the contrast seems way lower on [this redpen](https://redpen.io/rpc05ea3aca6dbbb22) than on the [image in the previous comment](https://user-images.githubusercontent.com/2492510/30454736-39625062-9952-11e7-803e-e0ba8267af91.png). Is that intentional or an export gremlin?

[2017-10-11 19:12] kristinashu commented on #63
Here is the print pdf: [PulseMozFestSign-A2.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1376879/PulseMozFestSign-A2.pdf)

(cta has been removed)
<img width="518" alt="screen shot 2017-10-11 at 12 14 56 pm" src="https://user-images.githubusercontent.com/1068783/31461256-db367c98-ae7d-11e7-8c2b-c1e78359e43a.png">

[2017-10-11 19:42] marcwalsh commented on #38
@sabrinang thanks for this. For MozFest House we're getting the freestanding version so it's 100mm x 70mm which isn't a standard 'A' paper size. Would you be able to resize this? I'll get the Festival ordered :)

[2017-10-11 19:57] marcwalsh commented on #41
@sabrinang - Sorry the guidelines on this are incorrect for Pixart.

**See the templates below:**
[A4-Pixart-Template.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1376980/A4-Pixart-Template.pdf)
[A3-Pixart-Template.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1376981/A3-Pixart-Template.pdf)

[2017-10-11 19:58] marcwalsh commented on #38
@sabrinang - The guides are incorrect for Pixart

Templates are attached below:
[A1-Pixart-Template.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1376987/A1-Pixart-Template.pdf)
[A2-Pixart-Template.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1376988/A2-Pixart-Template.pdf)
[A3-Pixart-Template.pdf](https://github.com/MozillaFoundation/mozfest-design-201

[2017-10-11 20:08] edrushka commented on #44
We all agree yellow would be great!

[2017-10-11 20:14] marcwalsh opened #75 "Gobo Design"
Ticket to discuss the gobo (projected logo) use on Level 4 wall.

What lockup / logo do we want to appear on the wall?

[2017-10-11 20:28] sabrinang commented on #23
@edrushka I changed the gradient all together (since it's on clear vinyl I was thinking the light full sticker can be stuck on dark surfaces and the other on light and made it less orangey in case it printed on the brown side)

[2017-10-11 20:31] sabrinang commented on #23
It is also the same gradient I used for the large floor web for all sticker

[2017-10-11 20:35] edrushka commented on #75
We can only use a single image, right? I guess just the straight up wordmark w/gear is best:
<img width="352" alt="mozilla-festival_lockup-black" src="https://user-images.githubusercontent.com/4515662/31465520-0edfb6a8-ae89-11e7-9e91-922dec10ae9f.png">

[2017-10-11 20:37] edrushka commented on #23
Ok. Just wanted to confirm it was intentional. 👍 Thanks for clarifying.

✅ Web for all stickers  R+

[2017-10-11 20:37] cassiemc commented on #44
Updated the files to A5. Final redpen is here: https://redpen.io/tz398764f1d379b048
Final pdf is here: https://www.dropbox.com/s/iesb6iw4hx5hedn/Mozfest-Notebook-Print-ready-A5.pdf?dl=0
Final .ai source file is here: https://www.dropbox.com/s/j67r5puog8c8fz2/Mozfest-Notebook-Print-ready-A5.ai?dl=0
@marcwalsh yellow threading, please!

[2017-10-11 20:39] sabrinang commented on #75
Is this the same as https://github.com/MozillaFoundation/mozfest-design-2017/issues/11 or something else?

[2017-10-11 21:02] #71 closed

[2017-10-11 22:04] sabrinang commented on #31
The dialogues is plural now on large and small labels: https://redpen.io/xh1f6847f0f69186dc

Files (.ai/.pdf) are available on Gdrive here: https://drive.google.com/open?id=0B4Q8pzCpDS_eOF9OUTYwcnVjZEE

@edrushka R? Are these good to print now?

[2017-10-11 22:07] edrushka commented on #31
R+!!

[2017-10-11 22:08] sabrinang commented on #23
Thanks for the review! I evened out the gradient slightly: https://redpen.io/rpc05ea3aca6dbbb22

MozFest Lockup + Web for all Tagline sticker files (.ai/.pdf) here: https://drive.google.com/open?id=0B4Q8pzCpDS_eZGZTakRTVmF6X2c

Space sticker files (.ai/.pdf) here: https://drive.google.com/open?id=0B4Q8pzCpDS_eanBoNDVaOXc4OVk

@marcwalsh These are ready for print!

[2017-10-11 22:09] sabrinang commented on #31
@marcwalsh These are ready for print!

Files (.ai/.pdf) are available on Gdrive here: https://drive.google.com/open?id=0B4Q8pzCpDS_eOF9OUTYwcnVjZEE

[2017-10-11 22:13] edrushka commented on #24
R+

[2017-10-11 22:18] sabrinang commented on #24
Name card customization sticker files (.ai/.pdf) are here: https://drive.google.com/open?id=0B4Q8pzCpDS_eOWIwNnBhSHVrWFk

@marcwalsh These are ready for print!

[2017-10-11 22:22] sabrinang commented on #44
@marcwalsh Notebooks are ready for print 👍

[2017-10-11 22:24] Saallen commented on #74
Hello- loooks good to me
You can point ppl here https://mozillafestival.org/house

[2017-10-11 22:32] edrushka commented on #74
Content looks good - I added one question in the doc. House has already been announced here: https://medium.com/mozilla-festival/three-days-just-isnt-enough-for-some-internet-health-enthusiasts-17a127f48200

[2017-10-11 23:06] sabrinang opened #76 "Sign: Sponsor Banner"
As part of #2, we are making a banner to feature our seven sponsors near the entrance and registration.

### Format
I'm looking at the expobanner format on Pixart printing: https://www.pixartprinting.co.uk/displays/banner-stands/expobanner-luxury-mono/

[2017-10-11 23:07] sabrinang commented on #2
The seven sponsors are finalized:
- Flattr
- eLife
- Fetch
- WeTransfer
- GitHub
- Sticker Mule
- Micro:Bit Foundation

The areas the sponsors will be on:
- Festival Guide https://github.com/mozilla/mozillafestival.org/issues/702 or https://redpen.io/bt2ec03711bd6da65d
- Banner #76
- Website https://github.com/mozilla/mozillafestival.org/issues/761

[2017-10-11 23:07] #2 closed

[2017-10-11 23:18] sabrinang commented on #76
@marcwalsh Do you think the https://www.pixartprinting.co.uk/displays/banner-stands/expobanner-luxury-mono/ format is appropriate for this?

@edrushka Does the standing banner format work for this? Also, I referred to the email for the content but it seems out of date compared to the guide - see redpen: https://redpen.io/p/fa58a6fc4663ff848f

[2017-10-11 23:26] marcwalsh commented on #76
@sabrinang Totally - an alternative can be this which is slightly cheaper if we want to avoid the roller banner.

https://www.pixartprinting.co.uk/displays/banner-stands/expobanner-xplus/

[2017-10-11 23:38] edrushka commented on #21
Sarah signed off in Slack. Send these to print! :shipit:

[2017-10-11 23:40] sabrinang commented on #43
I downloaded files from dropbox: https://www.dropbox.com/sh/yzey1ftfhz7gnnp/AAB5WCPBMVAnZ_uG7NAyf3mZa?dl=0 and uploaded it to our drive as well here: https://drive.google.com/open?id=0B4Q8pzCpDS_eaVE4RWhndUFBcTQ

@cassiemc Before closing this ticket can you make sure that this is the correct, up-to-date files that I transferred to Google Drive? Just to make sure we can access these in the future a

[2017-10-12 00:01] sabrinang commented on #44
@cassiemc I uploaded those dropbox files on to this gdrive folder as well: https://drive.google.com/open?id=0B4Q8pzCpDS_eWkF3R2UwaTE1T2c

If you have any other notebook files feel free to upload them there as well!

[2017-10-12 00:09] sabrinang commented on #21
3 print .pdfs files here: https://drive.google.com/open?id=0B4Q8pzCpDS_eaGVLSVBua1o5a1k

@marcwalsh Ready for print!

[2017-10-12 00:14] edrushka commented on #76
@jcbarajas two questions:
1) will this banner be big enough to meet our display requirements in the registration area: https://www.pixartprinting.co.uk/displays/banner-stands/expobanner-xplus/
2) Can we use the same layout as the festival guide (supporting partner alone on top, other partners 2 per row) or should we use the layout indicated in [this doc](https://docs.google.com/document/d/1unimp4L

[2017-10-12 10:14] marcwalsh commented on #75
@sabrinang - sorry it is. Closing this and lets continue on #11

[2017-10-12 10:15] #75 closed

[2017-10-12 12:57] lucieclick commented on #69
@edrushka @marcwalsh @Saallen
[Mozilla Festival House Example Artwork.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1379361/Mozilla.Festival.House.Example.Artwork.pdf)
Hi - this is the first design for the MF House signage - there will be some with directional arrows/additonal wording etc (which I'll share when done) but just wanted to check you are happy with this as a basic

[2017-10-12 15:16] marcwalsh commented on #63
Sent to printers! 💃 - ETA: 20th October

[2017-10-12 15:16] #63 closed

[2017-10-12 15:45] edrushka commented on #69
Basic concept works for me. Tagging @sabrinang for a quick design review.

[2017-10-12 16:27] sabrinang commented on #69
Yup the concept goes with our other mozfest house assets - please use the horizontal lockup here (keep the vertical lockup for narrow applications when necessary to limit the use)

[2017-10-12 16:30] kristinashu commented on #63
Amazing! Thank you!

[2017-10-12 17:23] jcbarajas commented on #76
This banner looks big enough and should satisfy our sponsors. Go ahead and use the festival guide layout. However, please add language to the top that says: Thank you MozFest 2017 sponsors. This makes clear what it is.

[2017-10-12 17:29] edrushka commented on #76
@sabrinang based on Juan's feedback I made some comments in the redpen.

[2017-10-12 19:07] sabrinang commented on #31
Exported these as separate (.ai) files here: https://drive.google.com/open?id=0B4Q8pzCpDS_eOF9OUTYwcnVjZEE

Print .pdfs in a folder included: https://drive.google.com/open?id=0B4Q8pzCpDS_eTVhnSElPOHdfWnc

@marcwalsh Ready for print

[2017-10-12 21:00] edrushka opened #77 "Intentionally blank posters"
Poster with discreet text at top or bottom that says :“Give your eyes a break. This space is intentionally blank.”

Can have a subtle frame like the [sponsors page](https://redpen.io/bt2ec03711bd6da65d) or the [notes page](https://redpen.io/rtf10bebb997ec7c56) or just be blank except for the text.

[2017-10-12 21:00] edrushka commented on #77
@sabrinang @marcwalsh I forgot to add this to the queue!

[2017-10-13 03:13] sabrinang commented on #32
@marcwalsh Can you give me upload powers for the redpen: https://redpen.io/p/xf4cd10e88113df8d7 (didn't want to start a new one)

I made the floors coordinate with the space colours since it ties the wayfinding together and the old colours just didn't make sense with the new space colours. When I upload on these on the redpen, @edrushka can you indicate the specifics for floor 6 (only shared space

[2017-10-13 03:44] sabrinang commented on #77
Sure, this is an interesting request...
![blank 1](https://user-images.githubusercontent.com/2492510/31529400-e27424a4-af8d-11e7-8391-3312da63cab6.jpg)
![blank 2](https://user-images.githubusercontent.com/2492510/31529401-e292353e-af8d-11e7-8f0f-0adef8ad6b99.jpg)

[2017-10-13 10:09] sabrinang commented on #38
Exports for Pixart: https://drive.google.com/open?id=0B4Q8pzCpDS_eWGl2U0N6cEtKcFU

[2017-10-13 10:09] sabrinang commented on #41
Exports for Pixart: https://drive.google.com/open?id=0B4Q8pzCpDS_eR2NXM0E0TUlQR2s

[2017-10-13 11:45] #55 closed

[2017-10-13 11:45] #56 closed

[2017-10-13 11:45] #57 closed

[2017-10-13 11:45] #58 closed

[2017-10-13 11:45] #59 closed

[2017-10-13 11:45] #60 closed

[2017-10-13 11:45] #61 closed

[2017-10-13 11:45] #62 closed

[2017-10-13 15:18] marcwalsh commented on #44
Sent to print! 📘💃❤️

ETA: 25th October

[2017-10-13 15:18] #44 closed

[2017-10-13 15:18] marcwalsh commented on #23
Sent to print!

[2017-10-13 15:18] #23 closed

[2017-10-13 15:18] marcwalsh commented on #24
Sent to print!

[2017-10-13 15:18] #24 closed

[2017-10-13 15:18] marcwalsh commented on #31
Sent to print!

[2017-10-13 15:18] #31 closed

[2017-10-13 15:38] marcwalsh commented on #41
Sent to Print!

[2017-10-13 15:38] #41 closed

[2017-10-13 16:00] edrushka commented on #77
~~thanks! Parts of the images seem broken - possible to post on redpen?~~ I'm a dork :nerd_face: and didn't get this design joke until Sabrina pointed it out.

[2017-10-13 16:01] marcwalsh commented on #38
Sent to print!

[2017-10-13 16:01] #38 closed

[2017-10-13 16:10] edrushka commented on #64
I suggest the House lockup w/black background

[2017-10-13 16:15] xmatthewx opened #78 "Print MoFo flyers for House"
@marcwalsh - We have a small A5 flyer designed by @kristinashu that we would like at the House registration desk. Can you coordinate printing and delivery to @lucieclick?

 - Print pdf: [PulseMozFestPoster-A5.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1388375/PulseMozFestPoster-A5.pdf)

 - Quantity: 500

Note: we also want to put this up around Ravensbourne. Some on the wa

[2017-10-13 16:15] edrushka commented on #67
We learned there are 3 screens. Try the lockup on Left and Right screen, and Welcome in the middle.

[2017-10-13 16:29] sabrinang commented on #11
This will be the cog again this year

[2017-10-13 16:47] sabrinang commented on #78
is this on redpen? just a note you may want to lighten the line/concentrated waves on the right that cuts across the center it might print dark that distracts from the copy

[2017-10-13 16:49] sabrinang commented on #77
@edrushka 🤓 What dimensions were you thinking for these?

[2017-10-13 17:21] edrushka commented on #77
Ideally A3s for us to post on walls in busy spaces, and A4s for people to individually post where they need.

[2017-10-13 18:24] sabrinang commented on #68
![mozilla-festival-house-2017_wristbands-colours](https://user-images.githubusercontent.com/2492510/31560082-d4246bc8-b007-11e7-9c68-61a3ec516ce4.jpg)

- Using Arial Black the text is entered on the Wristband Customiser on aawristbands.co.uk (no custom font option)
- The only design file needed from me is the Mozilla Festival House lockup .svg file here: https://drive.google.com/file/d/0B4Q8pzCpDS

[2017-10-13 18:52] beccaklam commented on #74
@tlasadea https://redpen.io/p/vpe21e7ce4e8d2b8d7
Hey Temi, I didn't add the links in yet because I don't think we want to link to github tickets? I also don't have a link to where people can buy tickets.

[2017-10-13 19:12] edrushka commented on #68
R+ from me on colours. Can you make one last all purpose band that simply says MozFest House? Should be different colour from the rest.

[2017-10-13 19:44] sabrinang commented on #32
@edrushka Can you help review content and give me feedback on design? https://redpen.io/p/xf4cd10e88113df8d7

[2017-10-13 20:11] edrushka commented on #32
I've reviewed and made one small comment about the 2 Artists Open Studios on the 6th floor (I don't think the design needs changes - having two icons side by side might look like an error).

I'm ok to sign off on design from my end but please be aware Marc and London-based team are more familiar w/content. They should review next week before sending to print.

[2017-10-13 20:33] sabrinang commented on #32
I updated floor 6 with two artist open studios

[2017-10-13 20:51] kristinashu commented on #78
Thanks @sabrinang! I've made the lines thinner and more transparent. I've updated the pdf above and here it is in [Redpen ](https://redpen.io/p/sob006295844fa5bdc).

[2017-10-13 21:07] sabrinang commented on #68
Ah I didn't see this all-purpose one earlier. Let's go with black and use an alternative lockup so it stands out against the black wristband - I exported it together as a .svg here: https://drive.google.com/open?id=0B4Q8pzCpDS_eSmluS2lQaERaV1E
<img width="1095" alt="image" src="https://user-images.githubusercontent.com/2492510/31565972-a3a9367a-b01d-11e7-92a7-ecbdea78531a.png">

[2017-10-14 00:00] brettgaylor commented on #34
Hey @sabrinang!  Just a reminder to ping us here when these are ready as we'd like to remix them to print out in the privacy space.

[2017-10-14 11:18] Saallen commented on #68
Hey @sabrinang
If there are two events using the all purpose bands we want them in different colours so that the event leads can distinguish their audience. Could you make one more all-purpose in a different colour please? Thanks

cc @marcwalsh @lucieclick

[2017-10-14 20:39] sabrinang commented on #68
Yes, let's add Gold to the order as an additional all-purpose band.
<img width="768" alt="image" src="https://user-images.githubusercontent.com/2492510/31579156-e8c1e74e-b0e4-11e7-85f1-25b46013d3d0.png">

[2017-10-14 21:07] sabrinang opened #79 "Swag: USB Flash Drive"
### Description:
USB flash drives will be available swag. This may be Youth Zone specific or MozFest wide @marcwalsh to clarify.

**Format**
This will be ordered from Flashbay http://www.flashbay.co.uk/usb-sticks/trix
<img width="755" alt="image" src="https://user-images.githubusercontent.com/2492510/31579329-dc83de3e-b0e8-11e7-958b-849510eb8845.png">

[2017-10-14 21:33] sabrinang commented on #3
**2017 Swag**
- socks #51
- travel-friendly rollable water bottle #53
- notebook #44
- usb flash drive #79
- branded stickers #23
- webcam blocker stickers (sticker mule)

[2017-10-14 21:33] #3 closed

[2017-10-16 11:12] lucieclick commented on #68
@sabrinang Wristbands all look great for Mozfest House!

[2017-10-16 11:14] lucieclick commented on #67
@edrushka I like the idea of welcome in the middle

[2017-10-16 12:37] edrushka opened #80 "Elife Poster"
@sabrinang Please make a poster that says:

ELife Open Science Soapbox
[Elife's logo - same one that I emailed you]
12:30 - 1:45
Sunday 29th October
8th Floor Boardroom

please make A3 size and we'll print two copies, as stipulated in our contract w/ELife

[2017-10-16 12:51] lucieclick commented on #69
[Mozilla Festival House Artwork Approval.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1387453/Mozilla.Festival.House.Artwork.Approval.pdf)
@edrushka @sabrinang @marcwalsh @Saallen  - Hi all - see attached first look at ideas for Saturday night party branding. Wording needs to be finalised, but let me know what you think to the design. I think perhaps the additional icons are

[2017-10-16 12:55] Saallen commented on #69
I wonder if you dont have the timetable on this in case it changes? We can always print a3 posters on the day

[2017-10-16 15:08] lucieclick commented on #68
Hi @sabrinang  - not sure if its too late, but I just noticed Netgain on the wristbands should be spelt "NetGain" - with the capital G in the middle.

[2017-10-16 15:17] cassiemc commented on #32
@sabrinang Can you share the source files for the overview map please?

[2017-10-16 17:05] sabrinang commented on #32
@cassiemc The .ai file here https://drive.google.com/open?id=0B4Q8pzCpDS_eZGxNblRWV1RKbTg contains the overview map (all in the same file just different artboards)

[2017-10-16 17:34] sabrinang commented on #69
@lucieclick I made a redpen project to put feedback and comments on: https://redpen.io/p/xse08ef680fd280946

Overall, the colour and lines are consistent with the mozfest house designs but made a comment on the grey grid in the back (comment [here](https://redpen.io/wue84af362bf102358?showing_comment=2736192)) and misalignment in one lockup that [stands out](https://redpen.io/zu2d07a6ce26f043c5?sh

[2017-10-16 18:09] sabrinang commented on #68
@lucieclick The names are entered in the wristband customizer interface so if they are not ordered yet it is not too late.

@marcwalsh  Here are the **correct names to be entered:**
- BBC Adaptive Narratives
- MisInfocon
- View Source
- NetGain
- @moztechspeakers
- Open News
- Databox HackDay
- Cities of Learning

![mozilla-festival-house-2017_wristbands-colours](https://user-images.githubusercont

[2017-10-16 18:13] sabrinang commented on #11
Please use this blue: RGB 4, 51, 255
Here is the .svg for the gear: https://drive.google.com/file/d/0B4Q8pzCpDS_edDNXMXdORXAwWm8/view?usp=sharing

[2017-10-16 18:23] sabrinang commented on #25
@edrushka Can I get some feedback for content/design for stage designs on redpen?  https://redpen.io/p/zs39406b73bc7dd0f6

[2017-10-16 18:46] sabrinang commented on #26
@edrushka Can you give me some content/design feedback on [redpen](https://redpen.io/p/bp2d4be582ee564376) for the four register table signs:
- Sign-in & Register Here
- Customize Your Name ID
- Collect Your Swag
- Youth & Press & Accessibility

Also any thoughts on sizing? I was thinking they can all be A2 like the Youth & Press poster last year so it can go along the front of the table and be se

[2017-10-16 20:25] sabrinang commented on #29
@marcwalsh Do you have the dimensions/template of the sandwich board, poster or banner for this #mozhelp area?

@edrushka The design matches the deep cyan of the volunteer #mozhelp shirts, can you give me content/design feedback on redpen: https://redpen.io/p/mn47aa1bee24f27839

[2017-10-16 20:38] sabrinang commented on #32
@Saallen @marcwalsh Internet Research Hub has been updated on maps: https://redpen.io/p/xf4cd10e88113df8d7

Can you give final review that content is good for print from what you see on the redpen?

[2017-10-16 20:40] cassiemc commented on #32
@sabrinang I'm missing fonts apparently, can you outline all text in the overview map please?

[2017-10-16 20:47] sabrinang commented on #32
@cassiemc I exported an outlined text version .ai: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_eRnlzUGY0RFFxc00/view?usp=sharing

Sorry about that it must of had some alternative fonts previously (by revised last years file).

[2017-10-16 21:25] sabrinang commented on #33
@edrushka Can I get some content/design feedback on these wayfinding banners: https://redpen.io/p/kgdab16100c1d4c107

The main content question I have is - Do the floors without spaces need banners? (reference [here](https://redpen.io/av74b3a375e791819d?showing_comment=2736645))

[2017-10-16 21:26] edrushka commented on #69
We'll need to integrate sponsor We Transfer into some of the signage.
cc @jcbarajas

[2017-10-16 21:42] sabrinang commented on #79
I have some design mockups on redpen: https://redpen.io/p/mc73c8144f089f01e5

@marcwalsh So far they are MozFest designs but let me know if they should be more Youth Zone branded

[2017-10-16 21:52] natalieworth commented on #13
@sabrinang @edrushka Do you know where I'm able to grab the artist in residence photos? If they haven't sent them to us yet, we could just go with text maybe due to time?

[2017-10-16 21:58] sabrinang commented on #13
@natalieworth For the festival guide Cassie used them and here's the links folder for the festival guide: https://drive.google.com/open?id=0B4Q8pzCpDS_ea1BZakN6bE1aVkU

You will have to find their names but they have a purple overlay on their photos and should be labelled with the artists name

[2017-10-16 22:57] sabrinang commented on #37
I started the design inspired from the [festival guide pages](https://redpen.io/hp21d8e98e7e54b49c) and iterating on type and hierarchy:
<img width="642" alt="image" src="https://user-images.githubusercontent.com/2492510/31638804-6901c69e-b28a-11e7-9b8a-123bac70fbbc.png">

Redpen here: https://redpen.io/p/xz7d85a1b4a215614f

Here are the files are in this gdrive: https://drive.google.com/drive/fol

[2017-10-16 23:20] sabrinang commented on #37
Assigning to @taisdesouzalessa to help me design the rest

[2017-10-16 23:20] sabrinang commented on #37
@marcwalsh Can you confirm if this is the format (A2): https://www.pixartprinting.co.uk/digital-litho-printing/printing-posters/

[2017-10-16 23:35] sabrinang commented on #34
@marcwalsh What format do you think we should print these session signs? Will they be double sided on card stock again (half of an A4 size or A4)? I was wondering also how these are printed do we have to choose one design or can each space have it's own see redpen here: https://redpen.io/p/wy9faed9516e0af98f

@edrushka any design feedback?

[2017-10-16 23:44] marcwalsh commented on #37
I’m happy with A2!

[2017-10-16 23:48] marcwalsh commented on #34
@sabrinang - let’s go for half A4

I think what would be easiest is a single sided A4 sheet which is then folded. That way we can use the same as Pixart posters (for D&D speakers etc) but I’ll change the paper weight.

We could use this as the same concept for the science fair also? What do you think @edrushka

[2017-10-17 00:41] jcbarajas commented on #69
I'd like to include their logo and a brief message on any Saturday party signage near the entrance, bar, and/or other highly visible area. Something like: "Sponsored by <WeTransfer logo>" Would that work?

[2017-10-17 00:44] natalieworth commented on #13
@sabrinang @edrushka Have a rough V2 here with all the p1's added with the exception of the Speaker Series rotation [mozfest-screen-draft-v3.mov](https://drive.google.com/drive/folders/0B20-0lpP23c0LVJGWmIyX1JTUUU)

[2017-10-17 09:52] edrushka commented on #25
Marc and I reviewed and left feedback in the redpen. cc-ing @KevZawacki for review as well.

[2017-10-17 09:58] edrushka commented on #26
Lovely! Left feedback. Looks good but some thoughts on the ampersand in Youth, Press and A11Y, and a word replacement. I'd go with same size as last year (A2).

[2017-10-17 09:59] edrushka commented on #29
Beautiful. R+

[2017-10-17 10:08] edrushka commented on #34
Single-sided A4 with a fold so it's the same on both sides works for me.
And yes, let's use same design for Science Fair.

[2017-10-17 10:20] edrushka commented on #69
We Transfer logo is here: https://we.tl/8XNBaTGik4

[2017-10-17 10:43] edrushka commented on #33
Sarah and I reviewed and I put feedback in the redpen. We like banners for the non-space floors.

[2017-10-17 10:48] lucieclick commented on #69
@edrushka would you be OK if the weTransfer logo went on the screen the main entrance? It will be harder to go on the window as thats for the Mozfest House entire week? I could add it to another banner further into the space thats the most visible?

[2017-10-17 10:48] edrushka commented on #13
mozfest-screen-draft-v3.mov is looking really good. Love the artist slides. My only comment is the "are you seeing disrespectful behaviour" feels super intense on that red background. Any way to tone that down?

[2017-10-17 11:03] edrushka commented on #69
Oh good idea! They are only sponsoring the party (and there are no sponsors for House) so we don't want the logo up all week. @jcbarajas we have three static screens, side-by-side, at the venue's entrance ([this ticket ](https://github.com/MozillaFoundation/mozfest-design-2017/issues/67#issuecomment-336856023) shows what they'll look like during the week). Would it work if we acknowledged them on

[2017-10-17 11:16] tlasadea commented on #19
Hey @marcwalsh which designer is doing this? @beccaklam wasn't briefed on this so not sure if she has capacity this week. cc @HPaulJohnson

[2017-10-17 11:41] tlasadea commented on #74
@beccaklam yep we can link the sessions to the github tickets that's np, and the only link we need for MozFest House is where it says MozFest House in the heading "new for 2017 is mozfest house" (https://mozillafestival.org/house) and then for the tickets link at the bottom, it's here: (https://mozillafestival.org/tickets)

[2017-10-17 12:42] marcwalsh commented on #79
@sabrinang - myself and @edrushka <3 the rainbow - lets go for it. :)

[2017-10-17 13:08] KevZawacki commented on #25
@edrushka @sabrinang This is perfect!

[2017-10-17 13:20] lucieclick commented on #69
@edrushka @sabrinang @Saallen @marcwalsh Hi - new proofs attached.  I am undecided if I need all the signage so might take one out, but if you can approve all designs then I can play around with whats needed?
@Saallen we can print the "agenda" closer to the time so don't need to sign off the content just yet, just the design. Thanks!
[Mozilla Festival House Artwork Approval2.pdf](https://github.co

[2017-10-17 16:36] sabrinang commented on #19
@tlasadea I filed this a while ago - I can cover this next week

[2017-10-17 17:06] jcbarajas commented on #69
Acknowledging WeTransfer on these 3 static screens at the entrance plus a
printed poster at the bar and another location works great!

By the way, these designs are beautiful.

On Tue, Oct 17, 2017 at 4:03 AM, Erika Drushka <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Fundraising

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* (415) 297-7309
*www.mozillafoundation.org

[2017-10-17 18:20] Saallen commented on #69
Looks good!
S

[2017-10-17 18:39] beccaklam commented on #74
@tlasadea Updated the links. You'll need to share the pdf version for the links to work. Didn't have a link for the Decentralization talk! https://drive.google.com/a/mozilla.com/file/d/0BzuBOR2VJQqUUk4zWEZNeld6dTA/view?usp=sharing

[2017-10-17 18:57] natalieworth commented on #13
@edrushka Yeah for sure! I'll swap out the red so it's less intense

[2017-10-17 19:16] marcwalsh commented on #69
Hi @lucieclick

For the main window vinyl, I think the lockup is going to get a little lost in the window.

Is it possible to change the design so we have the house icon itself in the middle section and then the line of the cog in the surrounding 8 squares?

@Saallen and @edrushka mentioned it would work better if the entire middle section of the window was covered.

Thanks!!

Marc

[2017-10-17 19:18] marcwalsh commented on #21
Sent to print!

[2017-10-17 19:18] #21 closed

[2017-10-17 19:18] marcwalsh commented on #11
Sent to print!

[2017-10-17 19:18] #11 closed

[2017-10-17 19:18] marcwalsh commented on #68
Sent to print! ETA: Friday

[2017-10-17 19:18] #68 closed

[2017-10-17 19:28] sabrinang commented on #28
I iterated on these info booth totems: https://redpen.io/p/bk58b0b4940ff0aba5
<img width="926" alt="image" src="https://user-images.githubusercontent.com/2492510/31684966-51b8ed1c-b336-11e7-92cb-8414c92b6162.png">
These include the info booth icon, short space description, map, participation guideline, hackable area to stick session information on and info on #mozhelp + sched

@edrushka Feedback o

[2017-10-17 21:21] marcwalsh commented on #25
@sabrinang - Could I get ready for print today, please? The printers need it by tomorrow morning UK time.

The 100mm bleed is perfect!

[2017-10-18 06:42] sabrinang commented on #25
I made the gradient transitions softer and used dark logo for floor 0 stage: https://redpen.io/p/zs39406b73bc7dd0f6
<img width="933" alt="screen shot 2017-10-17 at 7 14 59 pm" src="https://user-images.githubusercontent.com/2492510/31704000-2de496e4-b394-11e7-9ff1-d46dca9a6dbc.png">

@edrushka Let me know if this works if it is good to go @marcwalsh print files are below:

Floor 0 - Print Files (.p

[2017-10-18 08:23] sabrinang commented on #34
@edrushka Updated redpen with folded versions: https://redpen.io/p/wy9faed9516e0af98f
<img width="1091" alt="image" src="https://user-images.githubusercontent.com/2492510/31708044-cdacf4b0-b3a2-11e7-8d16-8f952eb7d8c5.png">

@marcwalsh Here is the .pdf for the single side fold session sign
(no bleed): https://drive.google.com/open?id=0B4Q8pzCpDS_eZmhoN1VRaUR1U3c
(3mm bleed): https://drive.google.co

[2017-10-18 08:39] sabrinang commented on #35
As mentioned in https://github.com/MozillaFoundation/mozfest-design-2017/issues/34, we will be using the same folded hackable session signs for science fair / demo

[2017-10-18 08:39] #35 closed

[2017-10-18 10:01] lucieclick commented on #69
Hi - see here @edrushka @sabrinang @marcwalsh - they were concerned it might make it a bit dark, but I think with the windows at the top having nothing should bring in some light. Let me know if this is better?
<img width="575" alt="window vinyl" src="https://user-images.githubusercontent.com/31765487/31712632-9780d900-b3f3-11e7-9e1c-c1037c670cb3.png">

[2017-10-18 10:57] edrushka commented on #25
These have been sent to printer. Apologies for my unclear comment in redpen - I was thinking of the lighter version for the D&Ds and the darker version for the 4th Floor mainstage (both are same dimensions so we can swap). @KevZawacki what is your preference for the D&Ds?

[2017-10-18 12:55] KevZawacki commented on #25
@edrushka No preference from me — whatever's easiest

[2017-10-18 13:17] edrushka commented on #25
I think the darker will look better on the mainstage because it's so naturally bright there. Worried that in the dark D&D room, the darker will be contrast-y on camera. I'm not an expert though, and would suggest we consult with Mac from AV.

[2017-10-18 13:30] edrushka commented on #28
These are gorgeous!!
- I commented in redpen that I prefer the white icon to the dark icon for Digital Inclusion (but I'm ok with either)
- On all floor maps, please change floor 4 to Main Stage/Emergent Sessions as per updates to the venue map
- @marcwalsh do we need to print fewer copies of the participation guidelines if they are integrated into the totem designs?

[2017-10-18 13:50] Saallen commented on #69
@lucieclick approval from me for all designs apart from the big window vinyl.
* no space icons on mozfest house assests
* wetransfer logo on static screens in entry way only
* evening schedule to be updated on wed 25th

Lucie will update later with new vinyl options for this position.

cc @edrushka @jcbarajas @marcwalsh @sabrinang

[2017-10-18 14:20] beccaklam commented on #74
@tlasadea Final link added! https://drive.google.com/open?id=0BzuBOR2VJQqUMW5qUDY5cHZsNVk

[2017-10-18 15:38] marcwalsh commented on #77
Top design - I will send templates

[2017-10-18 16:04] sabrinang commented on #67
Include WeTransfer Logo (for saturday night party)

@edrushka Confirm copy for this screen

[2017-10-18 16:04] marcwalsh commented on #64
Printed: ETA - 20th October

[2017-10-18 16:04] #64 closed

[2017-10-18 16:05] marcwalsh commented on #25
Sent to printers - I'll let Whitelight know about changing around the stages.

[2017-10-18 16:05] #25 closed

[2017-10-18 16:06] marcwalsh commented on #43
Printed and Delivered - They look AMAZING! <3

[2017-10-18 16:06] #43 closed

[2017-10-18 16:21] sabrinang commented on #76
@edrushka I updated copy and arrangement of logos to fit on the [expobanner-xplus banner](https://www.pixartprinting.co.uk/displays/banner-stands/expobanner-xplus/) format on redpen: https://redpen.io/p/fa58a6fc4663ff848f

Can you review content and give feedback on arrangement?

[2017-10-18 16:41] edrushka commented on #76
R+ from Juan and I. Thank you!

[2017-10-18 17:42] edrushka commented on #67
Copy:
Sponsored by WeTransfer

^ @jcbarajas - just making sure it's WeTransfer, and not WeTransfer.com, which is the text on their logo.

[2017-10-18 17:48] jcbarajas commented on #67
It's WeTransfer. I think they just want people to go right to their site.

On Wed, Oct 18, 2017 at 10:42 AM, Erika Drushka <notifications@github.com>
wrote:

--
*Juan Barajas*
Director of Fundraising

*Mozilla Foundation*

*San Francisco Office*

*Mobile:* (415) 297-7309
*www.mozillafoundation.org <http://www.mozillafoundation.org>*

[2017-10-18 18:36] sabrinang commented on #76
@marcwalsh Print .pdf here: https://drive.google.com/open?id=0B4Q8pzCpDS_eLVdOVHo3ZTlHcDQ

[2017-10-18 19:58] sabrinang commented on #28
@edrushka Updated Main Stage/Emergent Sessions text on booths and using white icons except youth zone - please review redpen: https://redpen.io/p/bk58b0b4940ff0aba5

Print .pdfs here: https://drive.google.com/drive/folders/0B4Q8pzCpDS_eZUxJOHhvN0NWX2s?usp=sharing

[2017-10-18 20:13] edrushka commented on #28
Note I haven't gone through copy w/a fine tooth comb.

[2017-10-18 20:39] sabrinang commented on #79
@marcwalsh .pdf / .svg files available here for print: https://drive.google.com/drive/folders/0B4Q8pzCpDS_eWk9YVHQ1RV9iRTA?usp=sharing

[2017-10-18 20:42] sabrinang commented on #32
@marcwalsh Can you share the template I should use to export these? Unsure if these are printed on cardboard if the quality of printing isn't sharp

[2017-10-18 21:23] sabrinang commented on #70
@edrushka Please review content/design on redpen: https://redpen.io/p/rjb2abd04833b85efb

Print .pdf is here: https://drive.google.com/open?id=0B4Q8pzCpDS_eYXBlaTFia2NKanc

[2017-10-18 22:21] sabrinang commented on #80
@edrushka Please review content/design on redpen: https://redpen.io/p/de2a6d91bbe42c28f4
.pdf here: https://drive.google.com/open?id=0B4Q8pzCpDS_eeVZBaExDZ1M1N0E

@marcwalsh how much bleed or what template should I export this with?

[2017-10-18 22:44] sabrinang commented on #65
Vertical sign templates are available here: https://docs.google.com/a/mozilla.com/presentation/d/10EvyxVRryx9i1VPNIaexpy_49SwuOAHx4_h6KcA0Xt8/edit?usp=sharing

<img width="953" alt="image" src="https://user-images.githubusercontent.com/2492510/31746233-25f57e94-b41b-11e7-8090-0201c5d1710e.png">

[2017-10-18 22:49] marcwalsh commented on #80
@sabrinang - Let's print these onsite so your standard 3mm bleed with crop marks is fine. :)

[2017-10-18 22:52] marcwalsh commented on #77
Templates are below :) @sabrinang

[A3-Pixart-Poster.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1396565/A3-Pixart-Poster.pdf)

[A4-Pixart-Poster.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1396566/A4-Pixart-Poster.pdf)

[2017-10-18 22:53] marcwalsh commented on #32
@sabrinang - Let's go for A3 sized, same template and I'll print on foamex instead.

If we're having a background that would stay on cardboard if that's okay to reduce costs.

[2017-10-18 23:12] marcwalsh commented on #33
@sabrinang - Templates are available [here](https://www.pixartprinting.co.uk/wide-format/printing-banners-mesh/pvc-banner/) enter the size and press 'Template' and it will generate one for you. Not too sure of the sizing you want.

[2017-10-18 23:14] marcwalsh commented on #34
@sabrinang - template is below :)
[A4-Pixart-Poster.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1396591/A4-Pixart-Poster.pdf)

[2017-10-18 23:16] marcwalsh commented on #37
Let's also print these at Ravensbourne :) @sabrinang @taisdesouzalessa

This is just because we're having multiple posters and not a high print run.

[2017-10-18 23:19] marcwalsh commented on #36
Templates are here for A2 / A3:

[A2 Poster Template](https://github.com/MozillaFoundation/mozfest-design-2017/files/1396602/pixartprinting-template-small-format-indoor-posters-3.pdf)

[A3 Poster Template](https://github.com/MozillaFoundation/mozfest-design-2017/files/1396600/A3-Pixart-Poster.pdf)

[2017-10-18 23:19] taisdesouzalessa commented on #37
Thanks @marcwalsh! Do you know which day we will have the printers available to print them?

[2017-10-18 23:20] marcwalsh commented on #26
Since it's single run let's go for cardboard on A2:

[A2-Pixart-Template.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1396607/A2-Pixart-Template.pdf)

[2017-10-19 09:41] edrushka commented on #80
R+ very nice!

[2017-10-19 10:27] tlasadea commented on #19
Ahh thank you @sabrinang!!!

[2017-10-19 12:44] edrushka commented on #28
OK I've reviewed with my :eagle: :eye: Found one internet that needs to be capitalized but everything else is good. Marc, if you need to print these without fixing it's ok - not a critical typo.

[2017-10-19 15:19] edrushka commented on #70
R+ Thank you! 🌷

[2017-10-19 15:38] xmatthewx commented on #78
@marcwalsh – are you able to coordinate printing and delivery to @lucieclick?

[2017-10-19 15:51] xmatthewx commented on #13
I noticed a URL typo. (this video is amazing! the waves are crazy). @natalieworth - the url for pulse is `mozillapulse.org`, not mozilla dot pulse.

[2017-10-19 18:01] sabrinang commented on #80
@marcwalsh Ready for print
.pdf here: https://drive.google.com/open?id=0B4Q8pzCpDS_eeVZBaExDZ1M1N0E

[2017-10-19 18:13] sabrinang commented on #70
@marcwalsh Ready for print
Print .pdf is here: https://drive.google.com/open?id=0B4Q8pzCpDS_eYXBlaTFia2NKanc

[2017-10-19 18:26] sabrinang commented on #28
@edrushka Good catch and Internet is now capitalized!

@marcwalsh Ready for print
print .pdfs here: https://drive.google.com/drive/folders/0B4Q8pzCpDS_eZUxJOHhvN0NWX2s?usp=sharing

[2017-10-19 19:26] marcwalsh commented on #76
Sent for print!

[2017-10-19 19:26] #76 closed

[2017-10-19 19:26] marcwalsh commented on #28
Sent for print!

[2017-10-19 19:26] #28 closed

[2017-10-19 19:41] marcwalsh commented on #70
Sent to Print!

[2017-10-19 19:41] #70 closed

[2017-10-19 19:56] sabrinang commented on #29
@marcwalsh Do you have the dimensions for this banner and templates for poster or sandwich board?

[2017-10-19 20:04] sabrinang commented on #26
@marcwalsh Do you think we should go with a shorter height than A2 since the cardboard will be sticking up over the table... last year it was a flexible poster so it sorta folded over (kinda sloppy though but not a big deal)
<img width="717" alt="image" src="https://user-images.githubusercontent.com/2492510/31791466-6e45be9a-b4cd-11e7-8180-97d76c374713.png">

[2017-10-19 20:48] marcwalsh commented on #26
@sabrinang - A3 could work but it might be small... how about rotating so it's A2 landscape?

[2017-10-19 20:48] marcwalsh commented on #26
@sabrinang - or I can get two of each in A3 so you don't need to redesign! :)

[2017-10-19 21:21] sabrinang commented on #12
Slides to make:
- Intro slide - Dialogues and Debates title with time block
- Speaker bio slide - Name, Role, Twitter handle
- Thank you slide
- 2 Blank slides - 1 Coloured, 1 White
- Tagline slide - Web for All
- Gear slide

We can tie this into the Dialogues and Debates designs seen on the from https://github.com/MozillaFoundation/mozfest-design-2017/issues/43 festival guide + https://github.com

[2017-10-19 21:59] sabrinang commented on #14
@edrushka Do you have specific asset list for ProPresenter (dimensions, file formats, type files)?

[2017-10-19 22:00] sabrinang commented on #15
@edrushka Can you confirm if the list above is the asset list we need for this years air.mo and facebook streams?

[2017-10-19 22:01] taisdesouzalessa commented on #37
@sabrinang here are the posters in RedPen:
https://redpen.io/p/xz7d85a1b4a215614f

I double checked the info but it would be nice to have a last pass to make sure there are no mistakes. Who is revising the copy?

[2017-10-19 23:06] taisdesouzalessa commented on #34
UPDATE: Sabrina answered this question. I won't export it with any marks.
~~@marcwalsh I am fitting those layouts into the template. I am using the template guidelines as a reference so I know where things will be cut but I shouldn't add crop marks into the final PDF, correct? Just double checking~~

[2017-10-19 23:46] sabrinang commented on #37
Thanks @taisdesouzalessa R+ on design from me

@edrushka Can you give a content review for these posters? (see redpen: https://redpen.io/p/xz7d85a1b4a215614f)

[2017-10-19 23:46] marcwalsh commented on #78
@xmatthewx - they'll be arriving on Monday! :)

[2017-10-19 23:56] sabrinang commented on #32
@edrushka floor 4 "Main Stage / Emergent Sessions" is updated on all maps: https://redpen.io/p/xf4cd10e88113df8d7  Is this content good to go?

@marcwalsh We are layering the maps like we did last year right? The maps themselves can be on foamex and backgrounds can be flat or poster whatever is cheaper (most of it is covered anyway)

I exported all these files on the A3-Pixart-Template.pdf I had b

[2017-10-20 14:58] edrushka commented on #12
@KevZawacki can you help Sabrina with this one, please.

[2017-10-20 15:02] KevZawacki commented on #12
Hi @sabrinang,

Talks are not explicitly linked to spaces / issues.

Some speakers have shared talk titles, some have not. For consistency, let's not include titles on our slides; speakers will likely have titles on their own slides, anyway.

Yep, let's do a Q&A slide.

Let me know if I can answer more questions.

[2017-10-20 15:07] edrushka commented on #14
Here's what Mac told us last year:

Here's what last year's slide looked like when all the elements were combined. Note that we need to include sponsor slides on this pre-reel.

<img width="1920" alt="propresenter-slide-ailerons" src="https://user-images.githubusercontent.com/4515662/31827857-96bd11fa-b5b0-11e7-96e9-7d0f3ac7293a.png">

[2017-10-20 15:10] edrushka commented on #15
I don't believe we are adding anything new this year, so if that list is the same as last year we should be good.

cc-ing @KevZawacki and @marcwalsh in case there are additions I'm not aware of.

[2017-10-20 15:12] edrushka commented on #37
These look fabulous to me. R+  CC-ing @KevZawacki for final 👀 on content.

[2017-10-20 16:08] sabrinang commented on #33
@edrushka Please review content https://redpen.io/av74b3a375e791819d

I made the floor banners brighter with bold number and did not use black. I simplified it with each floor having number + space (no tagline, looks too busy). The lockup + tagline combo can be two sets seen in the entrance area for this ticket https://github.com/MozillaFoundation/mozfest-design-2017/issues/30

Print .pdfs exporte

[2017-10-20 16:15] edrushka commented on #32
R+ looks good! 🎷

[2017-10-20 16:23] sabrinang commented on #67
dimensions to export: 1920 x 1080

[2017-10-20 16:31] KevZawacki commented on #37
@edrushka @sabrinang Oh my, these are gorgeous! Not one edit from me.

[2017-10-20 16:33] KevZawacki commented on #15
@edrushka, nothing new of which I'm aware.

[2017-10-20 16:57] xaviercooksonedwards opened #81 "Repro for Print - MozFest Wrangler"
Hi Sabrina,

Please can you resize the attached PNG to the dimensions of 3x3inchs? And make it print ready for A4? We will be printing from our office printer.

We need to print 40 of them so please can you line as many as you can on a A4 spread.

Thanks!
Xavi
![wrangler](https://user-images.githubusercontent.com/32964344/31832702-e4c22408-b5bf-11e7-85fa-ee24d9c32184.png)

[2017-10-20 16:58] edrushka commented on #74
Hi all - sorry to report that the youth session featured in this infographic has just pulled out of MozFest. Just an FYI.

[2017-10-20 17:06] edrushka commented on #33
R+ from Sarah and I ❤️ ❤️ ❤️

[2017-10-20 17:18] sabrinang commented on #33
@marcwalsh Ready for print!

Print .pdfs exported using custom Pixart templates
Large (100cm x 200cm)
Small (75cm x 150cm)
https://drive.google.com/open?id=0B4Q8pzCpDS_eV3dXRnNYM3U0dlk

Previously, we had 3 holes at the top of large banners and 2 holes for small banners so lets go with that again.

[2017-10-20 17:47] sabrinang commented on #30
This issue is covered in issue #33 and will be printed with the floor banner set.
<img width="706" alt="image" src="https://user-images.githubusercontent.com/2492510/31833796-7db6d194-b580-11e7-8dcd-8bce08fb01ef.png">

The horizontal banners will be worked on in issue https://github.com/MozillaFoundation/mozfest-design-2017/issues/26 as a lockup banner and welcome banner.

[2017-10-20 17:47] #30 closed

[2017-10-20 19:32] sabrinang commented on #67
@edrushka Please review content for these 3 screens
- Welcome (left)
- MozFest house Lockup (centre)
- Sponsor WeTransfer (right)
![overview 2x](https://user-images.githubusercontent.com/2492510/31838542-216c3b92-b592-11e7-9c65-1d703590a89a.jpg)

.jpg files exported here (original size 1920 x 1080 and retina versions included): https://drive.google.com/drive/folders/0B4Q8pzCpDS_eekpfcWQ3eHZRdVk?us

[2017-10-20 21:17] taisdesouzalessa commented on #34
@marcwalsh the PDF you linked there seems to have A3 specs - 29.7 cm (width) x 42 cm (height). I am assuming we are printing it in A4 (21 x 29.7 cm) - I double checked with @sabrinang - and the template should be this one instead?

[pixartprinting-template-small-format-indoor-posters.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1403322/pixartprinting-template-small-format-in

[2017-10-21 00:34] taisdesouzalessa commented on #34
@marcwalsh I exported the PDFs using the template I linked above (for A4). Please let me know if they are ok and if you need anything else :).

Flat posters: https://drive.google.com/file/d/0B3b1KWRwjxtoN3Q5S3Naa2oza1E/view?usp=sharing

Signs to fold: https://drive.google.com/file/d/0B3b1KWRwjxtoTXVBNTNObmZNYlU/view?usp=sharing

[2017-10-21 01:50] natalieworth commented on #13
Hey @sabrinang @edrushka Have v4 of the [video up here ](https://drive.google.com/drive/folders/0B20-0lpP23c0LVJGWmIyX1JTUUU?usp=sharing) I've got all the copy in now. I haven't had time yet to add that much movement/ animation. Hoping to get to that next week if I get time (sorry, been super busy with the Advocacy site launching soon! :S )

[2017-10-21 13:40] edrushka commented on #67
@jcbarajas will this work for the screens?

[2017-10-21 14:00] edrushka commented on #13
❤️ the Speaker Series slide - nicely done.

[2017-10-21 22:27] jcbarajas commented on #67
This works. Thanks!

[2017-10-21 23:32] sabrinang commented on #79
squared usb flash drives are out of production so we are going with narrow design with just the [white gear logo](https://drive.google.com/file/d/0B4Q8pzCpDS_eYlJnVktNUVplVDA/view?usp=sharing)
<img width="240" alt="image" src="https://user-images.githubusercontent.com/2492510/31856696-5d92a1a2-b67c-11e7-89d7-5f9e2ccb0362.png">

[2017-10-22 01:05] sabrinang commented on #46
<img width="1370" alt="image" src="https://user-images.githubusercontent.com/2492510/31857123-1a5767de-b68a-11e7-86db-dbe87accb68d.png">

[2017-10-22 01:05] #46 closed

[2017-10-22 01:05] #7 closed

[2017-10-22 03:46] sabrinang commented on #14
![mozilla-festival-2017_propresenter-slide](https://user-images.githubusercontent.com/2492510/31857907-fc7ad4f2-b69e-11e7-8b6a-e43c91b7e040.jpg)
Assets are in gdrive: https://drive.google.com/open?id=0B4Q8pzCpDS_ea3NxRUZ5R3VXZFk

[2017-10-22 09:44] edrushka commented on #67
If it works for Juan, it works for me. R+

[2017-10-22 09:46] edrushka commented on #14
@marcwalsh can you or Mac test this on Propresenter ahead of Saturday morning?

[2017-10-22 11:22] xaviercooksonedwards commented on #81
Hi Sabrina,

Please can you also do the same for the attached red version?

Thanks!
Xavi
![wrangler red](https://user-images.githubusercontent.com/32964344/31861349-8d91df2e-b723-11e7-88f9-dbfdf2c71cac.jpg)

[2017-10-22 15:34] marcwalsh commented on #33
Sent to Print! 🕺

ETA: Tuesday 24th

[2017-10-22 15:34] #33 closed

[2017-10-22 17:47] marcwalsh commented on #34
Sent to Printers - ETA Wed 25th

(I've got generic and space signage for the folding options, and just generic signage for A4 due to pricing.)

[2017-10-22 17:47] #34 closed

[2017-10-22 17:51] marcwalsh commented on #32
(Note to self) Quantities Needed:

34x Generic Background - Cardboard
2x6 Space Specific Backgrounds - Cardboard
22x Generic Floor Maps - Cardboard
2x11 Floor Specific Maps - Cardboard

@sabrinang - I'm also going to get 2x A2 of the generic maps as well so there's something more prominent in the front entrance. I can rescale these myself from the PDFs. :)

[2017-10-22 18:54] marcwalsh commented on #32
Sent to Print - ETA: Wed 25th

[2017-10-22 18:54] #32 closed

[2017-10-22 19:10] marcwalsh commented on #36
Just want to confirm if @edrushka gave R+ to the localised versions of these.

If so @sabrinang - feel free to export and I can send them separately to the hackable versions to print.

[2017-10-22 21:24] sabrinang commented on #36
@edrushka Please review redpen for the web for all posters (main & hackable): https://redpen.io/p/zg7e998388cbc3dc47
<img width="751" alt="image" src="https://user-images.githubusercontent.com/2492510/31866399-b9106d90-b733-11e7-9628-90810c1db67e.png">

@marcwalsh Print .pdf for Pixart A2 & A3 exported here (you can find the l10n one there): https://drive.google.com/open?id=0B4Q8pzCpDS_ea1M2M0NlbE

[2017-10-22 21:36] sabrinang commented on #77
@edrushka I made the border go to the edge of the page itself in a pixelated style with larger text since it felt like it was getting lost:
![blank final 2x](https://user-images.githubusercontent.com/2492510/31866529-c0ce5f40-b735-11e7-82e4-4210a010ba22.jpg)

If this is good to go, A3 A4 print exports are here: https://drive.google.com/open?id=0B4Q8pzCpDS_edGYtc3NHR3Y1MlE

[2017-10-22 21:57] sabrinang commented on #13
This is looking great @natalieworth! For the speaker slides, do you have that as an .ai file? I would love to use that hexagon quilt for a title card when we stream it.

@edrushka The only content that stands out looking over this is the social slide. For instagram, are we going to active on the mozillagram account? If not, perhaps a hashtag instead like #mozfest2017 or something would be more eff

[2017-10-22 22:17] sabrinang commented on #26
@edrushka Please review updated redpen that includes logo and welcome horizontal table banners: https://redpen.io/p/bp2d4be582ee564376

@marcwalsh Do we know the table heights yet (if not we can print on site to measure) and we could print the logo/welcome banners horizontal and large similar this size last year:
<img width="268" alt="image" src="https://user-images.githubusercontent.com/2492510/3

[2017-10-22 22:29] sabrinang commented on #29
@edrushka  I made the banner/posters to be more red toned since volunteers will be wearing red now. Updated redpen: https://redpen.io/p/mn47aa1bee24f27839
<img width="668" alt="image" src="https://user-images.githubusercontent.com/2492510/31867058-7a8a58ce-b73d-11e7-9ce7-152c024e7f65.png">

@marcwalsh Let me know the dimensions of the curved table and if we need a specific size poster/sandwich boa

[2017-10-22 22:40] sabrinang commented on #81
@xaviercooksonedwards You can find the A4 .pdf here: https://drive.google.com/open?id=0B4Q8pzCpDS_eVUZJaklJLXd0N2c

Six 3"x3" squares can fit on a single A4 sheet. I included black, the red tone above and the red tone in the mozfest palette (just in case you need it).

<img width="879" alt="image" src="https://user-images.githubusercontent.com/2492510/31867123-8aaf9cd6-b73e-11e7-9944-f679e7e772e8.

[2017-10-22 22:49] sabrinang commented on #15
@edrushka Please review content of title cards redpen here: https://redpen.io/p/md7629c158fcf0d629

[2017-10-22 22:59] sabrinang commented on #50
@edrushka Is this issue complete?

[2017-10-22 23:00] #78 closed

[2017-10-22 23:05] sabrinang commented on #17
**Note to self:** Contact Katharine (integrate wayfinding badge/AR code guidelines or how-to on space info booth totems)

[2017-10-22 23:16] sabrinang commented on #47
**2017 Swag**

#53 Water Bottle
#51 Socks
#45 Lanyard + #21 Namecard #24 Namecard Stickers
#23 MozFest Stickers
#44 Notebook
#43 Festival Guide (has a back pocket to hold stuff)
#42 Volunteer T-shirt
#79 USB Flash Drive
webcam blocker stickers (sticker mule)

@marcwalsh Sharpies are in the description - have they been ordered?

[2017-10-23 09:28] edrushka commented on #36
The localized version is R+ (we didn't hear back from every language, but moving forward on assumption they are correct).

R+ on main and hackable as well.

These look great as a set 💟

[2017-10-23 09:30] edrushka commented on #13
@tlasadea @KevZawacki are these the links you'd like to see for social? (These are for the internal, 'mini-net' screens throughout the building)

[2017-10-23 09:40] KevZawacki commented on #13
I think it'd be wise to include #mozfest2017 — but defer to @tlasadea!

[2017-10-23 09:42] edrushka commented on #26
R+ on registration and welcome banners.

Would be great to have made-to-measure horizontal signs to look profesh.

[2017-10-23 09:43] edrushka commented on #29
Love it! You are thinking of everything 😄

[2017-10-23 10:12] edrushka commented on #15
✅   R+ on **background only**

🔺  **Opening title card:**
- we'll have three speakers on Saturday:
- Solana Larsen
- Femi Owolade-Coombes
- Gunner
- Mark Surman (not scheduled, but better make him card just in case)
Suggest you remove "opening keynote" and title/org and just have their names in large font

🔺  **D&D cards**
- Please make the background like the opening title card, with large font t

[2017-10-23 10:17] edrushka commented on #50
Yes. Closing.

[2017-10-23 10:17] #50 closed

[2017-10-23 10:21] tlasadea commented on #13
Hey! @sabrinang @edrushka links for social are Twitter - @mozillafestival and the hashtag is just #mozfest 💯

[2017-10-23 10:25] edrushka commented on #13
@tlasadea do you want instagram and fb live as well?

[2017-10-23 10:30] tlasadea commented on #13
Hmmmmm...these displays are gonna be in and around Ravensbourne right? If so, don't need FB Live. and the hashtag can work on Twitter & Instagram!

So for copy could we have @sabrinang:

Use #MozFest on Twitter & Instagram

Twitter @MozillaFestival
Instagram @Mozillagram

Is that ok?

[2017-10-23 10:48] edrushka commented on #13
Works for me! @natalieworth can you make those changes?

[2017-10-23 11:32] xaviercooksonedwards commented on #81
Thank you! Looks great :)

[2017-10-23 15:16] edrushka opened #82 "[post-festival] MozEd logo"
Please design a simple MozEd logo, using MozFest style guide, for Su Adams' event later in November.

cc @EsmeSimcox @Saallen

[2017-10-23 15:27] marcwalsh commented on #79
Sent for print - ETA: Friday pre-12

[2017-10-23 15:27] #79 closed

[2017-10-23 15:44] EsmeSimcox commented on #82
This is the logo at the moment:
<img width="779" alt="screen shot 2017-10-23 at 16 43 25" src="https://user-images.githubusercontent.com/30292263/31898614-606b5ac2-b811-11e7-90f0-a9d365819562.png">

[2017-10-23 16:20] #81 closed

[2017-10-23 16:48] sabrinang commented on #36
👍 All 3 are ready to print @marcwalsh
Print .pdfs: https://drive.google.com/open?id=0B4Q8pzCpDS_ea1M2M0NlbERTVVk

[2017-10-23 17:43] sabrinang commented on #15
@edrushka I revised the [redpen](https://redpen.io/p/md7629c158fcf0d629) with stages in mind (now reversed) using blue-red for main and teals for D&D since they will be in view when streamed - Is that ok having two bg colours?

[2017-10-23 17:47] taisdesouzalessa commented on #37
@marcwalsh here is the PDF:
https://drive.google.com/file/d/0B3b1KWRwjxtoenV0NG1QWmhuekk/view?usp=sharing

[2017-10-23 17:54] marcwalsh commented on #73
Hey @flukeout - we'll print these onsite for you.

Head to Level 4 on Friday and Ravensbourne students will be able to help you. :)

[2017-10-23 17:56] edrushka commented on #15
Very nice! Works for me if it works for the AV team.

[2017-10-23 17:59] edrushka commented on #15
@marcwalsh can you share these w/the AirMo team and Mac to make sure they're ok?

[2017-10-23 18:13] flukeout commented on #73
Thanks very much @marcwalsh - I'll have the files ready to go.

[2017-10-23 18:13] #73 closed

[2017-10-23 22:36] marcwalsh commented on #36
Sent to print! :D 💃

[2017-10-23 22:36] #36 closed

[2017-10-24 15:02] edrushka commented on #56
@beccaklam are these available anywhere? We could use these (without text) for the feedback surveys. Need 3 different colours for the 3 different surveys.

[2017-10-24 17:47] beccaklam commented on #56
Hi @edrushka here's the psd template: https://drive.google.com/open?id=0BzuBOR2VJQqUdEdDQUw3RzN4TEU

[2017-10-24 20:28] taisdesouzalessa commented on #12
@sabrinang here are the slides. Please take a look and let me know if you have any feedback:
https://docs.google.com/a/mozilla.com/presentation/d/1mpZinScsuF8Lnjfik600ZBnjnGuGHWPt60if543o4B0/edit?usp=sharing

@KevZawacki @edrushka could you please take a look at the content and check if it is all good? Also, let me know if you have any feedback as well.

[2017-10-24 22:26] marcwalsh commented on #26
@sabrinang - sorry it took so long but the height is 72cm

[2017-10-25 07:52] KevZawacki commented on #12
@taisdesouzalessa These look great! No changes from me.

[2017-10-25 11:45] edrushka commented on #13
@natalieworth when this is ready, can you please send to @EsmeSimcox here or via email? She will send on to the team at Ravensbourne.

[2017-10-25 12:10] marcwalsh commented on #65
Closing as we're using them onsite and working perfectly! 👍

[2017-10-25 12:10] #65 closed

[2017-10-25 12:22] edrushka commented on #13
Hi again @natalieworth - can you please remove Arachana's slide (yellow one in the artist series) as she is no longer able to attend - before you export the final version? thanks

[2017-10-26 08:26] sabrinang commented on #14
Assets and .jpgs are here: https://drive.google.com/open?id=0B4Q8pzCpDS_ea3NxRUZ5R3VXZFk

[2017-10-26 08:28] sabrinang commented on #15
.JPGs and assets are here: https://drive.google.com/open?id=0B4Q8pzCpDS_eZGZwMW94ZFd4dkk

[2017-10-26 10:04] natalieworth commented on #13
@EsmeSimcox I'm just uploading the final file onto the google drive here: https://drive.google.com/drive/folders/0B20-0lpP23c0S1BRZ25KTllHanc?usp=sharing

cc @sabrinang Ack so the 'Trapcode' plugin trial expired and wouldn't let me export the line backgrounds—so I swaped in the MozFest logo. Less pretty but hopefully it's okay still! Sorry!

cc @edrushka If you have time to double check the final

[2017-10-26 10:12] edrushka commented on #15
Thank you. I've shared w/Andy from AirMo and Mac from AV.

[2017-10-26 10:47] marcwalsh opened #83 "Level 4 Wall Wash (RGB)"
Hey @sabrinang

Would you be able to give me an RGB value for the light wash on the rear wall of level 4 please?

[2017-10-26 11:33] edrushka commented on #13
@natalieworth we're not seeing anything in GDrive - did the upload complete?

[2017-10-26 11:37] natalieworth commented on #13
@edrushka Sorry still uploading! The file's quite large and the wifi is sloowwww 😆😱 I'll post on here when it's uploaded!

[2017-10-26 13:46] natalieworth commented on #13
@sabrinang @edrushka do you have a USB maybe? It's taking forever to upload since the wifi is so slow. I could bring my laptop to Ravensbourne and we could just transfer it directly?

[2017-10-26 14:39] sabrinang commented on #26
@marcwalsh Print .pdf here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ebktZM3RsSklzNDg/view?usp=sharing

[2017-10-26 14:56] edrushka commented on #13
@marcwalsh who at Rave needs the video file to program the mini-net? Can you put them in touch with Natalie to transfer the file directly?

[2017-10-26 17:16] edrushka commented on #12
Question @KevZawacki - do we want Mark, Katherine and Ryan combined on one slide? Or do we want all three individually and we'll try to rotate through them? (Not sure if we can even do that)

[2017-10-26 17:34] KevZawacki commented on #12
@edrushka Either works for me — whichever is easiest for design & a/v.

[2017-10-26 18:23] taisdesouzalessa commented on #12
I can design them combined in 1 slide and you can choose which one to use, how about that? I imagine it would be difficult to rotate if they are individual ones.

[2017-10-26 21:59] edrushka commented on #12
Thanks - that would be perfect.

[2017-10-27 00:52] taisdesouzalessa commented on #12
@edrushka @KevZawacki I updated the slide deck:
https://docs.google.com/a/mozilla.com/presentation/d/1mpZinScsuF8Lnjfik600ZBnjnGuGHWPt60if543o4B0/edit?usp=sharing

Slides 11, 12 and 13 are individual pictures. Slide 14 is all of 3 pictures together. You can use either one, depending on the presentation needs. Let me know if it works.

@sabrinang FYI - slide 14 is new :).

[2017-10-27 00:54] sabrinang commented on #12
👍 Thanks for combining @taisdesouzalessa - looking good!

[2017-10-27 11:50] taisdesouzalessa commented on #29
@marcwalsh could you please send the attached files to print here in Ravensbourne?

3 copies of this file:
[signs-a4.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1421914/signs-a4.pdf)

1 of this file:
[signs-desk.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1421917/signs-desk.pdf)

cc: @sabrinang

[2017-10-27 12:17] natalieworth commented on #13
@edrushka @EsmeSimcox @sabrinang Got some faster wifi at the Moz London office. Uploaded here now! https://drive.google.com/drive/folders/0B20-0lpP23c0S1BRZ25KTllHanc?usp=sharing

[2017-10-27 13:42] edrushka commented on #13
Yay! I've sent to Rave to program the mini-nets. Closing this ticket - will re-open if there are any issues with the file. Thanks all - this will look gorgeous in the building 😍

[2017-10-27 13:42] #13 closed

[2017-10-27 14:39] taisdesouzalessa commented on #29
@marcwalsh here are the new artworks, flat:
[sign-floor-flat.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422384/sign-floor-flat.pdf)
[sign-table-flat.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422385/sign-table-flat.pdf)
[signs-a4-flat.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422386/signs-a4-flat.pdf)

They also told me

[2017-10-27 14:55] edrushka commented on #15
@sabrinang can you kindly make a holding slide for the plenary that says Welcome to MozFest (or if that's too long, then Opening Plenary). This will be the holding image on AirMo before the stream begins. Please email it to akochendorfer@mozilla.com and cc me. Thank you!

[2017-10-27 15:43] taisdesouzalessa commented on #26
@marcwalsh - here they are to print.
[Mozilla-Festival-2017_Registration-Table-big1.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422591/Mozilla-Festival-2017_Registration-Table-big1.pdf)
[Mozilla-Festival-2017_Registration-Table-big2.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422592/Mozilla-Festival-2017_Registration-Table-big2.pdf)
[Mozilla-Festiv

[2017-10-27 15:52] taisdesouzalessa commented on #37
@marcwalsh I was told the file was too big so what I did was separate the posters into individual ones - we need 4 copies of each:
[dd1.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422624/dd1.pdf)
[dd2.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422625/dd2.pdf)
[dd3.pdf](https://github.com/MozillaFoundation/mozfest-design-2017/files/1422626/dd3.pdf)

[2017-10-28 04:59] sabrinang commented on #15
@edrushka Email sent and I updated jpg folder: https://drive.google.com/open?id=0B4Q8pzCpDS_eVkRFT2pKMVUxTnM
<img width="997" alt="screen shot 2017-10-28 at 5 52 54 am" src="https://user-images.githubusercontent.com/2492510/32131371-56706d32-bba4-11e7-80f6-7d776295a606.png">

[2017-10-28 06:03] sabrinang commented on #19
@tlasadea Here are some header backgrounds and profile image: https://drive.google.com/open?id=0B4Q8pzCpDS_eM3g5aGdwVm5oRXM

[2017-10-28 17:15] #26 closed

[2017-10-28 17:16] #29 closed

[2017-10-29 11:30] #37 closed

[2017-10-29 11:31] #67 closed

[2017-10-29 11:52] #83 closed

[2017-10-29 11:52] #77 closed

[2017-10-29 11:53] #69 closed

[2017-10-29 11:54] #19 closed

[2017-10-29 12:01] #15 closed

[2017-10-29 12:01] #14 closed

[2017-10-29 12:03] #12 closed

[2017-11-01 14:08] #74 closed

[2017-11-01 14:08] #72 closed

[2017-11-03 16:05] marcwalsh commented on #80
This was printed on-site! :)

[2017-11-03 16:05] #80 closed

[2017-11-03 17:27] sabrinang opened #84 "Post-MozFest: Documentation & Debrief"
**Follow up on Github tickets**
Include notes and photography of the MozFest 2017 documentation for next year:
- edit/sort photos and collect photos from Erik W.
- process notes on what worked and what didn't
- production notes on what was expected and what was implemented in reality
- suggestions for next year

**Collect feedback on design**
Internal production team debrief on etherpad: https://p

[2017-11-03 17:27] #47 closed

[2017-11-03 17:32] #17 closed

[2017-11-03 17:33] #9 closed

[2017-11-03 17:34] #8 closed

[2017-11-03 17:39] sabrinang opened #85 "Post-MozFest: Blog Post"
Consider contributing to a blog post about design recap or follow up? Check with Erika or Aliza to proof read?

[2017-11-03 18:38] sabrinang commented on #82
<img width="610" alt="screen shot 2017-11-03 at 11 30 54 am" src="https://user-images.githubusercontent.com/2492510/32390164-90fb6656-c08a-11e7-8156-e6333626ffe3.png">

I'm referring to https://mozilla.ninja/expression/ "Limited use lockup with secondary text" section. If this is loosely tied then you can just use Zilla Slab (bottom option).

@edrushka Any feedback or thoughts? I also don't have c

[2017-11-06 11:23] EsmeSimcox commented on #82
These look amazing thank you!

[2017-11-06 23:51] sabrinang commented on #68
## Post MozFest House Documentation

The wristbands were used throughout the festival house week to differentiate participants for various events. Instead of black and gold, silver and gold was printed with black text above (no white text version used):
![mozfest-house-21](https://user-images.githubusercontent.com/2492510/32469111-0e3e8de6-c306-11e7-9282-08f96e91bd2a.jpg)
![mozfest-house-22](https

[2017-11-07 00:09] sabrinang commented on #67
## Post MozFest House Documentation

These screens were spotted near the entrance of the Saturaday night event. They were displayed side by side above a seating area.
![mozfest-house-47](https://user-images.githubusercontent.com/2492510/32470124-e4396822-c30a-11e7-90b7-20b729108d82.jpg)

[2017-11-07 17:46] EsmeSimcox commented on #82
@sabrinang Are these ready to go?

[2017-11-07 18:04] sabrinang commented on #82
@edrushka Flagging for review?

@EsmeSimcox If this is needed more urgently (incase I don't hear back from erika in time for this event), I'd go with the second option. When is this needed by or when is Su's event?

[2017-11-07 18:07] EsmeSimcox commented on #82
@sabrinang Su's event is in 10 days, I will speak to Su this evening and see when the latest we can have it by. As I need to order banners for the event, which we would love to put the logo on!

[2017-11-07 18:39] xmatthewx commented on #82
I think the bottom option works very well for this type of thing.

[2017-11-07 19:05] sabrinang commented on #82
@EsmeSimcox Exports are here in google drive: https://drive.google.com/open?id=14Enobah3temLpx05xdEEmO6VJgY9Vxv9

[2017-11-07 19:07] EsmeSimcox commented on #82
Great thank you @xmatthewx and @sabrinang for you help! I will send you photos of the logo at the venue after the event.

[2017-11-07 21:17] sabrinang commented on #66
## Post MozFest House Documentation
Totems were found by the entrance doorways and Totems XL were behind registration area. These provided great surface area for branding.
![mozfest-house-8](https://user-images.githubusercontent.com/2492510/32509456-332ab7d2-c3a2-11e7-9e96-fd15d27dae21.jpg)
![mozfest-house-32](https://user-images.githubusercontent.com/2492510/32509482-48472240-c3a2-11e7-981e-bcfe9

[2017-11-07 22:33] sabrinang commented on #65
## Post MozFest House

These hackable signs were seen throughout the RSA space and helped distinguish the many rooms inside. There were bus stop sign holders and wall mounted holders. Bus stop frames overlapped signs by 1cm or so (use thicker border template) and wall mounted frames did not overlap. The slide file included a variety of border styles but next time archive the rest so only the thick

[2017-11-07 22:43] sabrinang commented on #64
## Post MozFest House Documentation

Black table cloths were used by the barista and in the registration area. It helped refine the space and contrasted nicely in the white space. It accented the lockups/gradients well and was practical to keep things looking clean.
![mozfest-house-4](https://user-images.githubusercontent.com/2492510/32521551-b7b44e70-c3c8-11e7-9043-1ac220dd4c9d.jpg)
![mozfest-hou

[2017-11-07 23:07] sabrinang commented on #54
## Post MozFest House Documentation

Branded insulated cups were used by baristas to serve beverages and they added a splash of colour to the space.
![mozfest-house-17](https://user-images.githubusercontent.com/2492510/32521909-1cc0ed9a-c3ca-11e7-9c1a-0ebc1bf77171.jpg)
![mozfest-house-13](https://user-images.githubusercontent.com/2492510/32521916-2263f2e2-c3ca-11e7-8dc5-55d9e83c8892.jpg)
![mozfest

[2017-11-07 23:39] sabrinang commented on #42
## Post MozFest House Documentation

The shirts helped identify volunteers easily and expressed the brand palette in a vibrant way
![mozfest-house-42](https://user-images.githubusercontent.com/2492510/32522777-86ffb292-c3cd-11e7-9c8d-3bd30a3cd6b6.jpg)

## Post MozFest Documentation

Initially the MozHelp shirts were teal but on the Thursday before the festival (Oct 19), Marc was notified to change

[2017-11-08 00:17] sabrinang commented on #41
## Post MozFest House Documentation

Participation EN guides sandwich boards were seen on the registration table ![mozfest-house-23](https://user-images.githubusercontent.com/2492510/32524145-335a5da8-c3d3-11e7-85cc-2a080e18086b.jpg)
![mozfest-house-39](https://user-images.githubusercontent.com/2492510/33098743-4fd04d76-cec3-11e7-9eb4-a5ea6dbd0f50.jpg)

[2017-11-08 00:23] sabrinang commented on #38
## Post MozFest House Documentation
By the registration table, the privacy alert sign is a sandwich board that is seen near the corresponding lanyards so participants understand what they signify upon arrival and signup.
![mozfest-house-25](https://user-images.githubusercontent.com/2492510/32525022-5ef82cd4-c3d7-11e7-9884-374eaca7c1bb.jpg)
![mozfest-house-28](https://user-images.githubusercontent.

[2017-11-08 00:35] sabrinang commented on #21
## Post MozFest House Documentation

Name cards with information on the back available to be customized with sharpies at registration. Looks like Fuzzy brought his own lanyard! We supplied purple and yellow to go with them.

![mozfest-house-45](https://user-images.githubusercontent.com/2492510/32525267-749405da-c3d8-11e7-9cfe-3b0e0bb1b0a6.jpg)
![mozfest-house-1](https://user-images.githubuserconte

[2017-11-16 19:04] edrushka commented on #42
Note for 2018 ordering: volunteers need more than one t-shirt if working multiple days (no time for laundry).

[2017-11-16 19:09] edrushka commented on #41
Note that A4 did not print nicely on the cardboard. The ink bled a bit and logo was blurry and we had to reprint on A3. Still like cardboard as a more environmentally-friendly alternative to foam-core, but should be A3 or larger.

[2017-11-17 20:52] sabrinang commented on #2
## Post-MozFest Documentation
The festival sponsors were seen throughout the space on various mediums:

A standing banner was located on the registration floor next to the name tag station. Juan suggested that this banner should of been bigger:
![mozilla-festival-2017-167](https://user-images.githubusercontent.com/2492510/32968046-afb800b2-cb94-11e7-84b5-f86016133e7c.jpg)

The two screens by the M

[2017-11-17 22:28] sabrinang commented on #69
## Post MozFest House Documentation

The window banners bring a warmth to the space and can be immediately spotted when you enter the coworking space:
![mozfest-house-40](https://user-images.githubusercontent.com/2492510/32971637-f308fd2c-cba2-11e7-94ea-2f2994b9b49f.jpg)

I'm quite obsessed with the throw pillows and ottomans in the matching palette!
![mozfest-house-19](https://user-images.githubu

[2017-11-17 23:21] sabrinang commented on #52
## Post MozFest House Documentation

The mozfest house brand had a versatile lockup where the logo could be used outside of the box and separate from the workmark. The main palette was warm pink orange tones that contrasted the stark white/black while using the wavy textures to tie in the space together:

It was seen used in small and large scale applications
![mozfest-house-15](https://user-image

[2017-11-18 06:53] Saallen commented on #69
Hello I heard that it was not to hard to install but fiddly. Each window box was an individual installation and needed care to ensure it was added correctly. once applied it stayed in place, and easy to remove

[2017-11-20 17:33] xmatthewx commented on #52
this is great. @sabrinang - as you collect these images, can you drop them in a folder on drive (if you aren't already) ... for easy use elsewhere. Send a link my way. Thanks!!

[2017-11-20 18:47] sabrinang commented on #52
@xmatthewx Yes, images are uploaded on gdrive and links can be found on this photo issue: https://github.com/mozilla/mozillafestival.org/issues/727#issuecomment-345358662

[2017-11-20 21:53] sabrinang commented on #83
## Post Mozfest Documentation

During MozFest, I chatted to the lighting designer Luke to set up the lights. The initial RGB values from the palette were a bit washed out so we adjust the values to produce the final product. There were 4 spot lights that could be customized so we created a gradient pink-puple-blue from left to right with them.
![mozilla-festival-2017-306](https://user-images.githu

[2017-11-20 21:54] sabrinang commented on #11
## Post Mozfest Documentation

see issue #83

[2017-11-20 22:05] sabrinang commented on #80
## Post MozFest Documentation
A few eLife posters went up around the space:
![mozilla-festival-2017-239](https://user-images.githubusercontent.com/2492510/33043885-b59a2528-cdfb-11e7-9554-8cd0c3522b88.jpg)

eLife provided their own totem that looked great:
![20171027-mozfest-161 1](https://user-images.githubusercontent.com/2492510/33191231-07209e32-d06c-11e7-8f15-0e1bfe9f6ded.jpg)

[2017-11-20 22:21] sabrinang commented on #78
## Post MozFest & House Documentation

Flyers were found at MozFest House and MozFest registration tables. They were also available at the pulse demo stand throughout the festival. It seemed like there was a huge quantity but we may not need so many or we can put them up as posters. Unsure how many flyers were taken in this format (I saw someone take photos of it though).
![mozfest-house-29](https

[2017-11-20 22:31] sabrinang commented on #70
## Post MozFest Documentation
These were found at the Youth Press Accessibility table near registration.
![mozilla-festival-2017-202](https://user-images.githubusercontent.com/2492510/33044725-dd43fb46-cdfe-11e7-8e28-db3183f0a312.jpg)
![mozilla-festival-2017-194](https://user-images.githubusercontent.com/2492510/33044727-e04a68b6-cdfe-11e7-9500-3d787a20267e.jpg)
![mozilla-festival-2017-165](https:

[2017-11-20 22:47] sabrinang commented on #63
## Post MozFest Documentation

The sign was seen at the Science Fair and at the kiosk throughout the Festival beside a monitor screen for demo.
![mozilla-festival-2017-80](https://user-images.githubusercontent.com/2492510/33044974-f48ca2b6-cdff-11e7-896c-fc649b568b36.jpg)
![20171027-mozfest-signage-20](https://user-images.githubusercontent.com/2492510/33045110-9093318e-ce00-11e7-9b8b-a4040e6bf000.

[2017-11-20 23:25] sabrinang commented on #53
## Post MozFest Documentation

These came in the 4 colours in a transparent plastic with a white strip on the back. I tried to find a black bottle on Sunday but they seemed to run out first out of the colours.
![mozilla-festival-2017-171](https://user-images.githubusercontent.com/2492510/33045590-3ea63e96-ce02-11e7-9ae2-c24497d9f9f3.jpg)
![20171027-mozfest-signage-12](https://user-images.githubuse

[2017-11-21 21:41] sabrinang commented on #44
## Post Mozfest Documentation

Notebooks were available at the swag table and they are the same size as the festival guide this year. They had blank off-white pages and the cover ink wears off quite easily near the spine.
![mozilla-festival-2017-182](https://user-images.githubusercontent.com/2492510/33097952-92f8f63c-cec0-11e7-8802-33f1f6cc0bce.jpg)
![mozilla-festival-2017-183](https://user-images

[2017-11-21 21:59] sabrinang commented on #41
## Post MozFest Documentation
These were found near registration in various languages flat on the table. Guideline sets were also found in the hallways of the washrooms. The cardboard printing came out a bit blurry this time so the untrimmed paper versions were reprinted.
![mozilla-festival-2017-214](https://user-images.githubusercontent.com/2492510/33098332-e2a88a2a-cec1-11e7-83df-b73cc4a12712.jp

[2017-11-21 22:20] sabrinang commented on #38
## Post Mozfest Documentation
Large cardboard signs were found near registration and in front of the table. I think one of the signs were suppose to be near the stages area but I'm unsure if they were.
![mozilla-festival-2017-192](https://user-images.githubusercontent.com/2492510/33099297-4db39a14-cec5-11e7-9f57-cb6bb3c3c374.jpg)
![mozilla-festival-2017-187](https://user-images.githubusercontent.c

[2017-11-21 22:30] sabrinang commented on #37
## Post MozFest Documentation
The set of speaker series posters were found outside of the walker space and they looked great with the set of wayfinding banners and floor stickers.
![mozilla-festival-2017-204](https://user-images.githubusercontent.com/2492510/33099899-640c34b8-cec7-11e7-815d-8a69ba14acd1.jpg)
![mozilla-festival-2017-53](https://user-images.githubusercontent.com/2492510/33099952-8ec

[2017-11-21 23:00] sabrinang commented on #36
## Post MozFest Documentation

These posters were printed on thick glossy paper on A2 + A3 sizes. These posters added additional branding on cohesion to the space.
![mozilla-festival-2017-75](https://user-images.githubusercontent.com/2492510/33100669-0ec0d376-ceca-11e7-9542-05d816b17bba.jpg)
![mozilla-festival-2017-272](https://user-images.githubusercontent.com/2492510/33100602-db6a3cec-cec9-11e7-

[2017-11-21 23:32] sabrinang commented on #34
## Post MozFest Documentation
The folded hackable signs were used at the demo
![mozilla-festival-2017-84](https://user-images.githubusercontent.com/2492510/33101870-fcae9826-cece-11e7-8fbe-161a500237bd.jpg)
The full A4 signs were more versatile to write more for sessions
![mozilla-festival-2017-270](https://user-images.githubusercontent.com/2492510/33101761-72c0514a-cece-11e7-8f1e-a5249f277b88.jpg

[2017-11-23 23:59] edrushka opened #86 "Post-MozFest: Ideas for 2018"

[2017-11-24 00:14] sabrinang commented on #32
## Post MozFest Documentation
Youth Zone map - This is a specific example for space specific floor map:
![mozilla-festival-2017-267](https://user-images.githubusercontent.com/2492510/33190983-ac2c48f8-d068-11e7-86c0-39734881d905.jpg)
![20171027-mozfest-signage-30](https://user-images.githubusercontent.com/2492510/33191009-1b7b55f0-d069-11e7-83c8-09963f54167f.jpg)
Overview map:
![mozilla-festival-2

[2017-11-24 00:15] edrushka commented on #32
Printing feedback:
- foamcore/cardboard x2 (both layers) was too heavy for whitetack and fell off the wall. Recommend paper for background (this textured/coloured paper could have all sorts of uses!) and cardboard for the front. Could also have both layers as paper.
- 3D effect is really nice

[2017-11-24 00:36] edrushka commented on #66
Note re: totems - these are too big for the Mozilla office elevator and need to be carried by hand up the stairs (very heavy!) Try to get these delivered directly to the venue.

[2017-11-24 18:40] sabrinang commented on #33
## Post MozFest Documentation
We printed floor numbers and space name/icon on large vinyl banners with two holes on top
![mozilla-festival-2017-4](https://user-images.githubusercontent.com/2492510/33220910-d453482a-d100-11e7-9212-eabfceef0710.jpg)
During installation, aligned the floor numbers vertically across floors which made it organized and easy to scan. The entrance had the wordmark and tagl

[2017-11-24 18:45] sabrinang commented on #74
## Post MozFest Documentation

This was posted on Oct 24 on mozillafestival twitter's account. Nice use of photography in the background.
<img width="503" alt="image" src="https://user-images.githubusercontent.com/2492510/33221427-56bb3306-d104-11e7-93d6-b193c5392836.png">
<img width="465" alt="image" src="https://user-images.githubusercontent.com/2492510/33221444-70526b18-d104-11e7-860e-983d109ac

[2017-11-24 18:48] edrushka commented on #74
This asset was lovely!

Note if we create a similar graphic for 2018 that session titles change/merge in the final weeks/days before the festival.

Also, total number of sessions changes because of emergent sessions

[2017-11-24 18:56] sabrinang commented on #72
## Post MozFest Documentation
This was posted on Oct 24 on mozillafestival twitter's account. This format fit better for twitter than the influencer infographic.
<img width="638" alt="image" src="https://user-images.githubusercontent.com/2492510/33221649-ee3d9cae-d105-11e7-8906-622dfbfc4410.png">

[2017-11-24 18:57] edrushka commented on #62
## Post MozFest Documentation

These were modified for use in the attendee, facilitator and staff surveys:
<img width="1247" alt="screenshot 2017-11-24 10 55 40" src="https://user-images.githubusercontent.com/4515662/33221686-34be5a24-d106-11e7-9915-7a5117223e05.png">

[2017-11-24 19:01] edrushka commented on #62
These might have been good for the app as graphics for each space.

[2017-11-24 19:07] sabrinang commented on #62
These graphics were posted on mozillafestival twitter on Oct 23
<img width="425" alt="image" src="https://user-images.githubusercontent.com/2492510/33221845-a3f466b2-d107-11e7-8d73-793ef6e71df8.png">

[2017-11-24 19:10] sabrinang commented on #61
## Post MozFest Documentation
<img width="639" alt="image" src="https://user-images.githubusercontent.com/2492510/33221912-12e050ea-d108-11e7-871a-009b4e08d0f4.png">

[2017-11-24 19:16] edrushka commented on #60
@Saallen cute animated cog here: https://redpen.io/faee58d7d8970eb0d9

[2017-11-24 20:57] edrushka commented on #25
## Post MozFest Documentation

Colour, quality and materials were good but scale of backdrops and placement were off this year. Screens were placed on the ground both on the 4th floor and in the Walker Space, instead of the stage, so lockups were at an awkward height, especially for taller speakers. Also, top edge of backdrop was visible in more photos this year.

AirMo screenshot showing awkward

[2017-11-24 21:01] edrushka commented on #25
Additional notes re: backdrops. 4th Floor and Walker Space backdrops got swapped. This looked fine, but the slide templates for each space didn't match the backdrops. Ensure stage crew has photo references for each stage/slide setup.

[2017-11-24 21:08] sabrinang commented on #25
Scale of this year was quite a bit smaller than the year before and it was set up from the ground (not propped up).
![mozilla-festival-2017-128](https://user-images.githubusercontent.com/2492510/33223779-d987474e-d117-11e7-9518-85b3b8ceccdd.jpg)=
![mozilla-festival-2017-130](https://user-images.githubusercontent.com/2492510/33223750-8e6bcb18-d117-11e7-9786-d3fa035f23f4.jpg)
![30337169970_003f6a5c9

[2017-11-24 21:13] sabrinang commented on #14
## Post MozFest Documentation
During opening talk, sponsor logos were seen. The black bar title style matches the sponsor banner so these worked well
![mozilla-festival-2017-123](https://user-images.githubusercontent.com/2492510/33223905-26386180-d119-11e7-955c-36e2edca07f7.jpg)
![mozilla-festival-2017-128](https://user-images.githubusercontent.com/2492510/33223908-2c4d7e16-d119-11e7-8b3a-05f9d444

[2017-11-24 21:15] edrushka commented on #14
Fro 2018, try to use the proper MozFest font and not the propresenter default font.

[2017-11-24 21:25] edrushka commented on #58
Don't think this one got tweeted. A shame - it's so fun!

[2017-11-24 21:28] edrushka commented on #57
## Post MozFest Documentation

This was tweeted. Looked great!

<img width="707" alt="screenshot 2017-11-24 13 25 31" src="https://user-images.githubusercontent.com/4515662/33224173-6b3c3430-d11b-11e7-86b0-183ddaa17a20.png">

[2017-11-24 21:34] edrushka commented on #56
## Post MozFest Documentation

These were well used and looked fabulous. Garnered lots of retweets. A really great asset.
<img width="622" alt="screenshot 2017-11-24 13 33 55" src="https://user-images.githubusercontent.com/4515662/33224262-5f1973d8-d11c-11e7-80c9-66da3c127cd9.png">

[2017-11-24 21:42] sabrinang commented on #15
## Post MozFest Documentation
The title slides were used for the thumbnails
<img width="631" alt="image" src="https://user-images.githubusercontent.com/2492510/33224162-6097b8ce-d11b-11e7-9151-964353c5cc7c.png">
The name slides were not used at all since the live transcription was on both screens. Next year, use name slide for an introduction and use it on the other. Also the name slides could of

[2017-11-24 21:51] sabrinang commented on #12
## Post MozFest Documentation
These slides were fantastic and were used inbetween to display time blocks. These backgrounds were made to match the stage but the stages weren't switched:
![mozilla-festival-2017-206](https://user-images.githubusercontent.com/2492510/33224353-85e1ea76-d11d-11e7-8679-e1d3a13ebcd4.jpg)
There was some typography issues happening for slides and some were created last min

[2018-01-09 00:12] edrushka opened #87 "Title and end cards for D&D videos"
Need a branded title card for each D&D, and a single end card to use for all of them.

**Title cards should say:**
[speaker(s) name]
MozFest 2017
Dialogues and Debates
These [speaker profiles](https://redpen.io/p/afd81c048a44b1f919) are gorgeous - is it possible to "Dialogues and Debates"?

**Speakers**
- Julia Angwin
- Ashley Black
- Mishi Choudhary
- Gillian Crampton Smith
- Emily Gorcenski & Sa

[2018-01-09 00:13] edrushka commented on #87
cc @Saallen @KevZawacki

[2018-01-09 17:21] xmatthewx commented on #87
Thanks. I'm going to share a [project brief](https://docs.google.com/document/d/1_N2VanU6SSLNIBY3rIUdDhMcy4QUiAGkElyGZUA1uZM/edit#heading=h.jbsf2wnv5omm) so we can line this up with other projects in the queue.

[2018-01-17 01:06] sabrinang commented on #87
@edrushka Please review this redpen: https://redpen.io/p/ve77caadc25f8d325f
It contains the 14 speaker slides + 1 end card slide

[2018-01-17 21:04] KevZawacki commented on #87
@sabrinang @edrushka These look great! No changes from me.

[2018-01-17 21:25] edrushka commented on #87
These work for me. If you can export in PNG I will send to the video team. Thanks, Sabrina!

[2018-01-17 21:52] sabrinang commented on #87
Thanks team! Here are the images exported to .png 1920 × 1080 format on gdrive: https://drive.google.com/open?id=1H3cc4VG1kwUOJV75so2Sjk9nAacgpvnr

[2018-01-18 17:41] edrushka commented on #87
Oops! Forgot to include Nighat Dad in the original list. Can you please make one with her name?

[2018-01-18 17:59] Saallen commented on #87
They look great - thanks @sabrinang 🌷

[2018-01-18 18:10] sabrinang commented on #87
@edrushka Here is a slide for Nighat: https://drive.google.com/open?id=1RTJEkdon_H2nk8Gs3pZcGZP_KsM9EV-N (it is also included with the others in the PNGs folder)

[2018-01-18 19:57] edrushka commented on #87
Thanks! I think this should do it for the slides, but I'll wait to close the ticket until I get the final ok from the video crew.

[2018-04-17 20:41] #87 closed

[2018-04-17 20:42] sabrinang commented on #87
## Post Mozfest Documentation
These title & end cards are seen on the youtube (playlist [here](https://www.youtube.com/watch?v=atYKpi_74Ak&list=PLYiaJo7rYNXInD71OAShY4xfl6fhskoUV)). These are different than the live air mozilla slides and knowing it is used for Youtube now I can coordinate with whoever does the End screen/Annotations editing or leave generous space for our profile hover state and

[2018-04-17 20:46] #82 closed

[2018-04-17 20:47] sabrinang commented on #82
## Post MozEd Documentation

<img width="611" alt="image" src="https://user-images.githubusercontent.com/2492510/38895695-918da290-4245-11e8-857b-cb9dcd277855.png">

![](https://cdn-images-1.medium.com/max/2000/1*-CHcJRSkCxDIgysIl9QHMw.jpeg)

Esme's blog post here: https://medium.com/mozilla-festival/mozed-a-mozfest-fringe-event-bd62b9094adf